<!-- If the Customer not Logged in, We have show this section -->
<section class="notLoggedIn">
  
  <div class="toast toast-error" *ngIf="message | async">
   {{ message | async }}
   <div class="p-1"></div>
  </div>
  <div class="container grid-lg">
    <div class="columns">
      <div class="column">
        <div>

          <div class="uboxitRegUser" *ngIf="isActiveRegUser">
            <div><button class="btn uboxitSignIn">Continue as Guest</button></div>
            <div class="h-2x"></div>
            <div class="divider text-center" data-content="OR"></div>
            
            <form (ngSubmit)="logIn()">
              <div class="group">
                <input type="text" required [(ngModel)]="model.username" name="username">
                <span class="highlight"></span>
                <span class="bar"></span><label>Name</label></div>
              <div class="group removebottom">
                <input type="password" required [(ngModel)]="model.password" name="password">
                <span class="highlight"></span>
                <span class="bar"></span><label>Password</label>
              </div>

              <div>
                <div class="float-left" style="width:70%;">
                  <button type="submit" class="btn btn-primary uboxitSignIn">Log In</button>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>

            <div style="padding-top:10px">
              <button (click)="showNonRegUser();" class="btn btn-success uboxitSignIn">New to Uboxit?Sign up</button>
            </div>
            <div>
              <button class="btn btn-link uboxitLink" aria-label="Close" role="button">Forgt?</button>
            </div>
          </div><!--//.uboxitRegUser -->

          <form (ngSubmit)="signUp()">
            <div class="uboxitNewUser" *ngIf="isActiveNonRegUser">
              <div class="group"><input type="text" required [(ngModel)]="newUserModel.firstName" name="firstName"><span class="highlight"></span> <span
                class="bar"></span><label>First Name</label></div>
              <div class="group"><input type="text" required [(ngModel)]="newUserModel.lastName" name="lastName"><span class="highlight"></span> <span
                class="bar"></span><label>Last Name</label></div>
              <div class="group removebottom"><input type="text" required [(ngModel)]="newUserModel.mobileNumber" name="mobileNumber"><span class="highlight"></span><span
                class="bar"></span><label>Mobile Number</label></div>
              <div class="group removebottom"><input type="text" required [(ngModel)]="newUserModel.email" name="email"><span class="highlight"></span><span
                class="bar"></span><label>Email</label></div>
              <div class="group removebottom"><input type="password" required [(ngModel)]="newUserModel.password" name="password"><span class="highlight"></span><span
                class="bar"></span><label>Password</label></div>
              <div>
                <button class="btn btn-primary uboxitSignIn">Sign Up</button>
              </div>
              <div style="padding-top:10px">
                <button (click)="showRegUser();" class="btn btn-success uboxitSignIn">Already do you have Uboxit?
                </button>
              </div>
            </div> <!-- // .uboxitNewUser-->
          </form>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- // End of ==Not Logged== Cutomers -->
<!-- Edit Personal Information -->

<section></section>