
.uboxitMenuDoc{
        
        margin-left:0.5rem;
}
.badge.btn::after{
    top:8px;
    right: 4px;
}
.uboxitLogo{
    position: relative;
    top: 10px;
}
.uboxitLogo.desktop{
    display: block;
}
.uboxitLogo.mobile{
    display: none;
}
.badge[data-badge]::after {
    font-size: 0.5rem;
    height: 16px;
    line-height: 1;
    min-width: 16px;
    padding: 2px 3px;
    text-align: center;
    white-space: nowrap;}
    .modal.headerActive, .modal:target{
        display: flex;
         display: -ms-flexbox;
         opacity: 1;
        z-index: 400;
    }
@media only screen and (max-width: 480px) {
    .uboxitLogo.desktop{
        display: none;
    }
    .uboxitLogo.mobile{
        display: block;
    }
}