<!-- <header>
      <div class="uboxitDesktop">
            <div class="uboxitHeaderContainer">
                  <div class="uboxitLeft"><img src="assets/images/logo.png" width="80px"/></div>
                  <div class="uboxitRight">
                      <span class="uboxitHeaderDesktopMenu">
                      <ul>
                          <li *ngFor="let header of headers">
                            <a href="{{header.menuLink}}" title="{{header.menuTitle}}">{{header.menuItem | uppercase}}</a>
                          </li>
                      </ul>
                    </span> 
                    <span class="uboxitHeaderMobileMenu">
                        <app-hamburger></app-hamburger>
                    </span>
                  </div> 
                  <div class="uboxitClear"></div>
            </div>
      </div>
      <div class="uboxitMobile">
         
      </div>
</header> -->
<div class="uboxitAppSpace"></div>
<div class="container grid-xl"> 
<div class="column col-12">
      <div class="navbar">
        <div class="navbar-section">
          <a href="#navbar" class="btn btn-link">Docs</a>
          <a href="#navbar" class="btn btn-link">Examples</a>
        </div>
        <div class="navbar-center">
            <img src="assets/images/logo.png" width="80px"/>
        </div>
        <div class="navbar-section">
          <a href="https://twitter.com/spectrecss" class="btn btn-link">Twitter</a>
          <a href="https://github.com/picturepan2/spectre" class="btn btn-link">GitHub</a>
        </div>
      </div>
    </div>
</div>