.loginLayout{
    width: 300px
}
.badge.btn::after{
    top:8px;
    right: 4px;
}

.badge[data-badge]::after {
    font-size: 0.5rem;
    height: 16px;
    line-height: 1;
    min-width: 16px;
    padding: 2px 3px;
    text-align: center;
    white-space: nowrap;}
    .modal.headerActive, .modal:target{
        display: flex;
         display: -ms-flexbox;
         opacity: 1;
        z-index: 400;
    }
.uboxitLogo img{
    xmargin-top: 10px;
}