<div class="container grid-lg">
  <div class="column">
        <div class="paddingBlock">
            <div class="equalHMVWrap eqWrap">
                <div class="equalHMV eq">
                   <h5>Company</h5>
                   <div>
                       <ul>
                           <li>Home</li>
                           <li>About</li>
                           <li>FAQ</li>
                       </ul>
                   </div>
                </div>
                <div class="equalHMV eq">
                    <h5>HELP &amp; CONTACT</h5>
                    <div>
                        <ul>
                            <li >Help Center</li>
                            <li>Email Us</li>
                            <li>+31 649668445 </li>
                        </ul>
                    </div>
                </div>
                <div class="equalHMV eq">
                    <h5>SUBSCRIBE TO OUR DROOLWORTHY NEWSLETTER</h5>
                    <div>
                        <div class="form-group">
                       
                        <input class="form-input" type="text" id="input-example-1" placeholder="SUBSCRIBE">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .paddingBlock -->
        <div class="clearfix"></div>
        <div>
            <div class="float-left">
                <span>Terms &nbsp; | &nbsp;</span>
                <span>Privacy</span>
            </div>
            <div class="float-right">
                Social Media
            </div>
        </div>
        <div class="clearfix"></div>
       <div class="pt-2">&nbsp;</div>
  </div>
</div>