<section class="finishLayout">
  <div class="container grid-lg">
    <div class="columns">
      <div class="finish-caption">
        <h1>{{orderStatus === OrderStatus.Authorised || OrderStatus.Received ? 'THANK YOU FOR YOUR PURCHASE!' :
          'Sorry!! something went wrong, Please contact our help desk with the below order number'}}</h1>
        <div>
          <p>Your order # is: {{orderConfirmation}}</p>
          <p>We'll email you an order confirmation with details and tracking info.</p>

        </div>
        <div>
          <button class="btn btn-primary" routerLinkActive="active" [routerLink]="['/home']">CONTINUE SHOPPING</button>
        </div>
      </div>
    </div>
  </div>
</section>
