<section class="finishLayout">
  <div class="container grid-lg">
    <div class="columns">
      <div class="finish-caption">
        <h3>{{pageTitle}}</h3>
        <div>
          <p>{{mainMessage}}</p>
          <p>{{nextActionMessage}}</p>
        </div>
        <div>
          <button class="btn btn-primary" *ngIf="paymentSuccess" routerLinkActive="active" [routerLink]="['/home']">CONTINUE SHOPPING</button>
          <button class="btn btn-primary" *ngIf="!paymentSuccess" (click)="retryPayment()">Retry another option</button>
        </div>
      </div>
    </div>
  </div>
</section>
