<div style="margin-top:5px;">
  <section style="background:#f8f9fa; margin-bottom:5px; " stickyHeader
           (stickyHeaderValue)="stickyHeaderValue($event)" [ngClass]="{'uboxitMenuInMakeCombo':uboxitMenu}">
    <!--Menu -->
    <app-bar-menu [customComboAvailable]="availableItemsForCustomCombo"
                  [individualItemsAvailable]="availableItemsForIndividualSale" ></app-bar-menu>
    <!-- // Menu End -->
  </section>

  <section  class="uboxitSection" [ngClass]="{'uboxitMenuInMakeComboSelect':uboxitMenu}">

    <div class="container grid-lg">
      <div class="container">
        <section style="text-align:center; padding-top:10px">
          <p>Cook up your own Combo using our virtual kitchen!</p>
        </section>
        <div class="columns" *ngIf="msgFromMakeYourOwnCombo">

          <div class="column col-xs-4 relative">
                    <!-- Starter -->
                    <div *ngIf="!selectedStarter"  (click)="starterPress();"
                        class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox ubboxitBoxAfter uboxitBoxTitle"
                        [ngClass]="{'uboxitBoxactive':msgFromMakeYourOwnCombo.starter}">
                        {{startersCaption}}

                    </div>
                    <div *ngIf="selectedStarter" (click)="starterPress();"
                    class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox ubboxitBoxAfter uboxitBoxTitle uboxitBoxactive "
                    [ngClass]="{'uboxitBoxactive':msgFromMakeYourOwnCombo.starter}" [ngStyle]="{ 'background-image':'url(' + selectedStarter.image + ')', 'background-size':'cover', 'background-position':'center'}">
                    <span class="selectedText">{{selectedStarter.title}}</span>
                    </div>
                    <!-- Starter -->
          </div>
          <div class="column col-xs-4 relative">
                    <!--Main Dishes -->
                    <div *ngIf="!selectedMainDish" (click)="mainDishPress();"
                        class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox ubboxitBoxAfter uboxitBoxTitle"
                        [ngClass]="{'uboxitBoxactive':msgFromMakeYourOwnCombo.maindish}">
                        {{mainDishCaption}}

                    </div>

                    <div *ngIf="selectedMainDish" (click)="mainDishPress();"
                        class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox ubboxitBoxAfter uboxitBoxTitle"
                        [ngClass]="{'uboxitBoxactive':msgFromMakeYourOwnCombo.maindish}" [ngStyle]="{ 'background-image':'url(' + selectedMainDish.image + ')', 'background-size':'cover', 'background-position':'center'}" >
                        <span class="selectedText">{{selectedMainDish.title}}</span>
                      <span ></span>
                    </div>

                    <!--Main Dishes -->
          </div>
          <div class="column col-xs-4 relative">
                    <!-- Desserts -->
                    <div *ngIf="!selectedDessert" (click)="dessertPress();"
                        class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox uboxitBoxTitle uboxitBoxactive"
                        [ngClass]="{'uboxitBoxactive':msgFromMakeYourOwnCombo.dessert}">
                        {{dessertCaption}}

                    </div>

                    <div *ngIf="selectedDessert" (click)="dessertPress();"
                        class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox uboxitBoxTitle uboxitBoxactive"
                        [ngClass]="{'uboxitBoxactive':msgFromMakeYourOwnCombo.dessert}" [ngStyle]="{ 'background-image':'url(' + selectedDessert.image + ')', 'background-size':'cover', 'background-position':'center'}" >
                        <span class="selectedText">{{selectedDessert.title}}</span>

                    </div>

                     <!-- Desserts -->
          </div>

        </div>
        <div class="columns" style="margin-top:10px; margin-bottom:10px" >
            <div class="column col-xs-4 relative">
                <button class="btn btn-primary" [ngClass]="{'disabled':!comboHasMinimumContent}" style="width:100%" (click)="clearSelection()">{{clearOrAddNewText}}</button>
            </div>
            <div class="column col-xs-4 relative">
              <button *ngIf="!comboComplete" class="btn btn-primary disabled" style="width:100%">Add to Cart</button>
              <app-add-to-cart-counter *ngIf="comboComplete" [counterValue]="comboCount" (updatedCount)="addToCart('test', $event)"></app-add-to-cart-counter>
            </div>
            <div class="column col-xs-4 relative">
                <div class="dropdown dropdown-right" style="width:100%">
                    <a class="btn btn-primary dropdown-toggle" tabindex="0" style="width:100%">
                     Filter<i class="icon icon-caret"></i>
                    </a>
                    <!-- menu component -->
                    <ul class="menu">
                        <li *ngFor="let type of availableTypes" (click)="filterByType(type)">{{type}}</li>
                    </ul>
                  </div>
            </div>
        </div>
        <!-- <div *ngIf="showButton" style="margin:10px;"> -->

      </div>
    </div>
  </section>
  <app-toasts></app-toasts>
  <section #scrollMe style="overflow: auto; height:auto;">
    <!-- Offer Area -->
    <app-makeyourcombo-offer [starters]="startersToDisplay"
                              [mainCourses]="mainCoursesToDisplay"
                              [deserts]="desertsToDisplay"></app-makeyourcombo-offer>
    <!-- Offer Area End -->

  </section>
</div>
