<div class="gen-layout privacy">
    <div class="animated slideInDown">Privacy Policies</div>
  
</div>
<section>
    <div class="container grid-lg genLayoutInner"> 
        <div class="column">
        <p>We UBoxIT (www.uboxit.nl and apps), registered as Your Delicacy B.V in Netherlands. UBoxIT will comply with
                rules and regulations of data protection. We use data and information you provide while using services through
                website and mobile apps which are personalization for customers.
        </p>
        <h2>What we collect?</h2>
        <div>
            <ul>
                <li>UBoxIT collects below personal details which you provide as part of use of our services</li>
                <ul>
                    <li>first and last name</li>
                    <li>email address</li>
                    <li>mobile number</li>
                    <li>delivery address</li>
                    <li>residence address</li>
                    <li>location data</li>
                    <li>date of birth</li>
                    <li>any other information voluntarily provided</li>
                    <li>IP – address</li>
                    <li>Internet browser (cookies) and device type </li>
                    <li>Previous order and selection</li>
                </ul>
                <li>Above personal information is collected during</li>
                <ul>
                    <li>Order food on the website/ mobile apps</li>
                    <li>Create profile or sign up to have login</li>
                    <li>Subscribing to the offer and promos</li>
                    <li>Providing feedback or ratings</li>
                </ul>
                <li>UBoxIT will inform customer if the personal information is collected by any other source.</li>
                    <li>Hosted servers does not collect or store any information of the customers.</li>
                        <li>If data collected are incorrect or of any concerns then please reach us at privacypolicies@uboxit.nl</li>
                            <li>UBoxIT uses users browser cookies to store food details, for more details please visit
                    www.uboxit.nl/cookiepolicy</li>
            </ul>
        </div>
        <h2>What we do with collected data?</h2>
        <div>
            <ul>
              <li>UBoxIT uses the personal information collected to improve the content of the website/app,
                  personalize the offer based on customer preference and data, communicate information to the
                  customer, and for any other specified purposes.</li>
              <li>We use the data to create personal account with UBoxIT.</li>
                  <li> We use the data for any communication to inform the order status.</li>
                  <li> We use the data to refund incase the order doesn’t get delivered or not meet customer needs.</li>
                  <li> We use the data to provide better details or order status when you reach us through our
                  customer service to make faster resolution.</li>
                  <li>During order processing on our site or mobile app, we use your email and mobile details to send
                        the confirmation through third party.</li>
                  <li>We use your email to distribute the campaign and offers, you can unsubscribe at any point.</li>
                  <li>Online ordering system stores information about the past orders in order to enable quick reordering
                  in the future or revisit.</li>
            </ul>
        </div>
        <h2>Correction of personal data</h2>
        <div>
            <p>UBoxIT ensures the data collected are accurate and up to date.</p>
            <p>As a customer, you are allowed to change the personal details or profile at any moment
                    through online channels website or mobile apps after login. Otherwise, contact our privacy
                    policy team through privacypolicies@uboxit.nl
            </p>
            <p>Customer may also ask to delete the profile and personal information by contacting
                    privacypolicies@uboxit.nl</p>
        </div>
        <h2>Third party</h2>
        <div>
            <p>We use your email and mobile number to send order confirmation and promos/offers through
                    third party services for email and mobile message. We choose these third parties with at most
                    care in place. </p>
        </div>
        <h2>Sharing data with others</h2>
        <div>
            <p>UBoxIT is not sharing your data with others, we use for the purpose of ordering food and
                    delivering to customer location.</p>
        </div>
        <h2>Payment Details</h2>
        <div><p>
                UBoxIT does not store payment details. Payments are handled by trusted payment service
                provider.
        </p></div>
        </div>
    </div>
</section>
