<div class="gen-layout privacy">
    <div class="animated slideInDown">Privacy Policies</div>
  
</div>
<section>
    <div class="container grid-lg genLayoutInner"> 
        <div class="column">
        <p>We UBoxIT (www.uboxit.nl and apps), registered as Your Delicacy B.V in Netherlands. UBoxIT(also referred to as "We") comply with
                rules and regulations of data protection. We use your personal data and information to manage your relationship with us, allow you to purchase food from us, payment and ensure that we can communicate with you efficiently.
        </p> 
        <h2>What does this policy cover?</h2>
        <div>
                This policy describes how Your Delicacy B.V and other thrid parties will make use of your data to purchase food from our website (https://www.uboxit.nl/) and mobile apps.

                Includues a right to object to some of the processing which Uboxit carries out. More information about your rights is explained in the "What rights do i have?" section.
        </div>
        <h2>What we collect?</h2>
        <div>
            <ul>
                <li>UBoxIT collects and process personal data about you when you use our services in website or mobile apps. This Includues</li>
                <ul>
                    <li>Name</li>
                    <li>Email address</li>
                    <li>Mobile number</li>
                    <li>Delivery address</li>
                    <li>Any other information voluntarily provided</li>
                    <li>Device type </li>
                    <li>Payment Details(including your bank details, IP address, browser, device type)</li>
                </ul>
                <li>Above personal information is collected during</li>
                <ul>
                    <li>Order food on the website/ mobile apps</li>
                    <li>Providing feedback or ratings through email</li>
                </ul>
                <li>UBoxIT will inform customer if the personal information is collected by any other source.</li>
                    <li>Hosted servers does not collect any information of the customers.</li>
                    <li>If data collected are incorrect or of any concerns then please reach us at privacypolicies@uboxit.nl</li>
                            
            </ul>
        </div>
        <h2>What we do with collected data?</h2>
        <div>
            We process this personal data for the following purpose:
            <ul>
                <li>To fulfil a purchase from us you give us consent, these includes</li>
                        <ul>
                        <li> communicating with you to inform the order status.</li>
                        <li> taking Payment</li>
                        <li> to provide better details or order status when you reach us through our customer service to make faster resolution.</li>
                        <li> arranging the delivery </li>
                        <li> to refund payment payment incase the order doesn’t get delivered or not meet customer needs.</li>
                        <li> during order processing on our site or mobile app, we use your email and mobile details to send the confirmation through third party.</li>
                        <li> any other specified purpose</li>
                        <li> we will send you marketing/campaign in relation to food and services provided by us, our offers and deals through carefully selected partners.</li>
                        <li> on other places where we ask you for consent, we will use the data for the purpose which we explain at that time.</li>
                        </ul>
               
            </ul>
        </div>
        <h2>Withdrawing consent</h2>
        <div>
               <p> Wherever we rely on your consent, you will always be able to withdraw that consent, although we may have other legal grounds for processing your data for other purposes, such as those set out above.
                You have an absolute right to opt-out of processing your data. You can do this by communicating with us through electronic message or by contacting us using the details set out below.</p>
        </div>

        <h2>What rights do I have?</h2>
        <div>
                <p>You have the right to ask us a copy of your personal data; to correct, delete or restrict processing of your personal data; 
                and to obtain the personal data you provide us with your consent in a structured, machine readable format.</p>
                <p>
                To exercise any of these rights, you can get in touch with us or our data protection officer using the details below. </p>
                <p>If you have unresolved concerns, you have the right to complain to an EU data protection authority where you live, work or you believe a breach may occurred.</p>
        </div>
        <h2>How do I contact you?</h2>
        <div><p>We hope that we can satisfy queries about the way we process your data. 
            If you have any concerns about how we process your data, or would like to opt out of processing, you can get in touch at privacypolicies@uboxit.nl</p>
        </div>
        <h2>Sharing data with others</h2>
        <div>
            <p>UBoxIT is data controller. Your personla data may be share with certain third parties(data processor) which includes Adyen, Digital Ocean and sendgrid </p>
        </div>
        <h2>Payment Details</h2>
        <div><p>
                UBoxIT does not store payment details. Payments are handled by trusted payment service
                provider.
        </p></div>

        <h2>How long we retain your data?</h2>
        <div>
            <p>Where we process personal data, we do this for as long as we delivery food to you and for one day after delivery of food </p>
            <p>Where we process personal data(email) for marketing/campagin purpose with your consent. We process data until you ask us stop</p>
            
        </div>
        <h2>Language</h2>
        <div><p>
                This policy is written in English, if you do any translation in another language. 
                In the event of any conflict in interpreting this policy, the English version shall prevail.</p>
        </div>
        </div>
    </div>
</section>
