<div class="header-top">
<div class="container grid-lg">
    <div class="header">
        <div class="header-menu"><app-hamburger></app-hamburger></div>
        <div class="header-logo c-hand"  (click)="goToHomePage();">
            <img src="assets/images/Uboxitlogo.png" width="80px"/>
        </div>
        <div class="header-rightLogo">
          <app-location *ngIf="locationEnabled"></app-location>
                <span class="hide-xs c-hand">
                    <span *ngFor="let count of [(totalCount | async)]"  stickyHeader (stickyHeaderValue) = "stickyHeaderValue($event)" [ngClass]="{'shop-icon-desktop':shopFloat}">
                    <button class="btn btn-link c-hand" (click)="openShoppingCart()"><i class="material-icons" >shopping_basket</i><span  class="uboxitBadge animated" [ngClass]="{'flash':count}">{{count}}</span></button>
                    </span>
                </span> <!--//DEsktop -->
                <span class="show-xs hide-xs c-hand">
                    <span *ngFor="let count of [(totalCount | async)]"  stickyHeader (stickyHeaderValue) = "stickyHeaderValue($event)" [ngClass]="{'shop-icon-mobile':shopFloat}">
                    <button class="btn btn-link c-hand" (click)="openShoppingCart()"><i class="material-icons" >shopping_basket</i><span  class="uboxitBadge animated" [ngClass]="{'flash':count}">{{count}}</span></button>
                    </span>
                </span> <!--//Mobile -->
          <button class="btn btn-link c-hand" *ngIf="loginEnabled && !(loggedIn | async)" (click)="openLoginWindow()"><i class="material-icons">lock_open</i></button>

          <button class="btn btn-link c-hand" *ngIf="(loggedIn | async)" (click)="logoutPanel()"><i class="material-icons">lock </i></button>

          <div appModelCloseOnOverlay (modelClose)="modelclose($event)" *ngIf="showLoggedIn" class="showLoggedInPanelOverLay"></div>

          <div class="showLoggedInPanel animated" [ngClass]="{'flipInX':showLoggedIn}" *ngIf="showLoggedIn">
              <div class="showLoggedInPanelInner">
                  <ul>
                    <li class="c-hand" routerLinkActive="active" [routerLink]="['/myprofile']"><i class="material-icons" >account_circle</i><span>My Profile</span></li>
                    <li class="c-hand" (click)="logout()"><i class="material-icons">lock_open</i><span>LogOut</span></li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
</div>
</div>

<div class="modal" [ngClass]="{'active':headerActive}">
    <div class="modal-overlay" appModelCloseOnOverlay (modelClose)="modelclose($event)"></div>
    <div class="modal-container loginLayout">
      <div class="modal-header">
        <button class="btn btn-clear float-right" (click)="closeLoginWindow();"></button>
        <div class="modal-title h5">{{loginTitle}}</div>
      </div>
      <div class="modal-body">
           <app-personal></app-personal>
      </div>
</div>
</div>
