@import "../../../../assets/css/variables";
//Header Start

.container.grid-lg.header { margin-top:-50px;}
.uboxitBadge{ font-size: 11px;  height: 16px; line-height: 1; min-width: .9rem;  padding: .1rem .2rem; text-align: center;
    white-space: nowrap; position: relative; top: -15px;  right: 4px; color:$uboxit-primary-color;  background: #fff;
    -webkit-transform: translate(50%,-50%); transform: translate(-.1rem, -.5rem);  border-radius: .5rem;
    background-clip: padding-box;   box-shadow: 0 0 0 0.1rem #fff;
}

.loginLayout{ width: 300px }
.badge.btn::after{ top:8px; right: 4px; }
.uboxitSignIn{  width:250px; }
.notFromHome{ background:$uboxit-primary-color;  height: 50px; }
.badge[data-badge]::after { font-size: 0.5rem;  height: 16px; line-height: 1; min-width: 16px; padding: 2px 3px; text-align: center; white-space: nowrap;}
.modal.headerActive, .modal:target{ display: flex; display: -ms-flexbox; opacity: 1;  z-index: 400;   }
.uboxitLogo img{ position: relative;  top:10px; 
    @include breakpoint(smart-phone){
        position: absolute;
        left:50px;
    } 
}
input{ width: 250px; font-size: 12px !important; border-color: #e7e9ed; }
.bar{ width:250px; }
.group label{ font-size: 12px !important; }
input:focus ~ label, input:valid ~ label{ top:-10px; }
.group{ margin-bottom: 20px;}
.bar:before, .bar:after{ background: $uboxit-primary-color; }
.modal-container .modal-body{ max-height: none;}
.regUserIn { display: none; }
.nonRegUser{ display: none; }
.forgetPwd{ display: none; }
.LoginLayoutModel{ display: none; }

.showLoggedInPanel{
    position:absolute; margin-top:10px;  margin-bottom:10px; 
    transition: opacity .35s, visibility .35s, height .35s;
    z-index: 11;
}
.showLoggedInPanelInner{
    position:relative; padding:20px 10px 20px 10px; height:120px; width:200px;  background:$uboxit-primary-color;  border-radius: 0px 0px 25px 25px; right:100px
}
.showLoggedInPanelInner ul li{
    list-style: none;
    color:$uboxit-white;
}
.showLoggedInPanelInner ul li span{
    position: relative; top:-7px; padding-left:5px;
}
.showLoggedInPanelOverLay{
    position:fixed; top:0px; left:0px; height:100%; width:100%; background:#fff; z-index:10; opacity:0;
}