@import "../../../../assets/css/variables";
.header-Layout { background: $uboxit-primary-color; height: 70px;  line-height: 70px; xbox-shadow: 0 2px 5px 0 rgba(0,0,0,.3);}
.container.grid-lg.header-inner { padding: 0px; }
.header-content { display: flex;  flex-direction: row; }
.header-content > div { width: 33.33%; }
.header-content > div > section > img { vertical-align: middle}
.headerLogo {
    @include breakpoint(smart-phone){
       margin-left: 10px;
    }
}
.slideRightNav { height: 100%; width: 0px; position: fixed; z-index: 318;  top: 0; right: 0; overflow-x: hidden;  transition: 0.5s;
    border-left:1px solid #ccc;  background: $uboxit-white; 
    @include breakpoint(smart-phone){
      display: none;
      
    }
  }

.slideRightNavYes{
    widows: 375px !important;
}
//Header Start
.header-menu { -webkit-flex-basis: 42px;  flex-grow: 0;  flex-shrink: 0;  flex-basis: 42px; }
.header-logo { -webkit-flex-basis: 42px;  flex-grow: 0;  flex-shrink: 0;  flex-basis: 79%; text-align: center;
    @include breakpoint(smart-phone){
        flex-basis: 43%;
        text-align: left;
        padding-left: 10px;
    }
}
.header-rightLogo{-webkit-flex-basis: 42px;  flex-grow: 0;  flex-shrink: 0;  flex-basis: 152px; text-align: right; }
.container.grid-lg.header { margin-top:-50px;}
.uboxitBadge{ font-size: 11px;  height: 16px; line-height: 1; min-width: .9rem;  padding: .1rem .2rem; text-align: center;
    white-space: nowrap; position: relative; top: -15px;  right: 4px; color:$uboxit-primary-color;  background: #fff;
    -webkit-transform: translate(50%,-50%); transform: translate(-.1rem, -.5rem);  border-radius: .5rem;
    background-clip: padding-box;   box-shadow: 0 0 0 0.1rem #fff;
}

.loginLayout{ width: 340px }
.badge.btn::after{ top:8px; right: 4px; }
.uboxitSignIn{  width:300px; }
.notFromHome{ background:$uboxit-primary-color;  height: 50px; }
.badge[data-badge]::after { font-size: 0.5rem;  height: 16px; line-height: 1; min-width: 16px; padding: 2px 3px; text-align: center; white-space: nowrap;}
.modal.headerActive, .modal:target{ display: flex; display: -ms-flexbox; opacity: 1;  z-index: 400;   }
.uboxitLogo img{ position: relative;  top:10px; 
    @include breakpoint(smart-phone){
        position: absolute;
        left:50px;
    } 
}
input{ width: 300px; font-size: 12px !important; border-color: #e7e9ed; }
.bar{ width:300px; }
.group label{ font-size: 12px !important; }
input:focus ~ label, input:valid ~ label{ top:-10px; }
.group{ margin-bottom: 20px;}
.bar:before, .bar:after{ background: $uboxit-primary-color; }
.modal-container .modal-body{ max-height: none;}
.regUserIn { display: none; }
.nonRegUser{ display: none; }
.forgetPwd{ display: none; }
.LoginLayoutModel{ display: none; }

.showLoggedInPanel{
    position:absolute; margin-top:10px;  margin-bottom:10px; 
    transition: opacity .35s, visibility .35s, height .35s;
    z-index: 11;
}
.showLoggedInPanelInner{
    position:relative; padding:20px 10px 20px 10px; height:120px; width:200px;  background:$uboxit-primary-color;  border-radius: 0px 0px 25px 25px; right:100px
}
.showLoggedInPanelInner ul li{
    list-style: none;
    color:$uboxit-white;
}
.showLoggedInPanelInner ul li span{
    position: relative; top:-7px; padding-left:5px;
}
.showLoggedInPanelOverLay{
    position:fixed; top:0px; left:0px; height:100%; width:100%; background:#fff; z-index:10; opacity:0;
}
.shop-icon-desktop{
    display: inline-block;
    position: fixed;
    z-index: 299;
    height: 50px;
    top: 0px;
    background:$uboxit-primary-color;
    padding-top: 6px;
    width: 50px;
}
.shop-icon-mobile{
    display: inline-block;
    position: fixed;
    z-index: 299;
    border-radius: 50px;
    height: 50px;
    background: $uboxit-primary-color;
    padding-top: 6px;
    width: 70px;
    bottom: 50px;
    left: 40%;
    right: 40%;
    box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1);
}
.shop-icon-mobile > button{
    position: relative;     top: -18px; left: -3px;
}
.show-xs{
    @include breakpoint(smart-phone){
        display: inline!important;
    }
   

}

// Mobile View 
.uboxit-footer { position: fixed;  bottom: 0px; height: 56px; width: 25%; z-index: 312; 
    display: flex; right: 0px; color: $uboxit-barMenuFont;
}
.uboxit-footer-cell { padding-top:8px; padding-bottom: 10px; width: 100%; text-align: center; }
.uboxit-footer-icon { height: 24px;}
.uboxit-footer-txt { font-family: $uboxit-font; font-size: 12px;}
.uboxitBadge.uboxit-footer-badge {  background: $uboxit-barMenuFont;}
