
<div class="gen-layout about">
        <div class="animated slideInDown title">ABOUT US</div>
      
</div>

<section>
  <div class="container grid-lg genLayoutInner"> 
    <div class="column">
        <p>We UBoxIT is newly opened food delivery company. Far away from our own land, food is one of the main factor which makes us feel at home. Good food is good Mood!! We believe in providing tradition, aromatic food at your desk in just 4 clicks!! Choose your Box, choose your Mood!! Order smartly, we deliver swiftly! Happy eating.</p>  
        <p>Our goal is to ensure a enjoyable experience on every purchase. UBoxIT is founded by three young women graduates. We have designed a meal box which is convenient to eat anywhere any time. We give the flexibility to our customers to choose their favorite Indian meal combo or they can make their own combo of choosing different items from different category of most authentic, tasty food. The box is designed in a way to have starter, main course and a desert.</p>
        <p>We give the world class experience to our customer to order food online through website and mobile apps and our delivery system delivers hot and tasty food at right time and right place.</p>
    </div>
  </div>
</section>
