
<div class="gen-layout">
        <div class="animated slideInDown">ABOUT US</div>
      
</div>

<section>
  <div class="container grid-lg genLayoutInner"> 
    <div class="column">
          <section class="aboutSecFirst">
                <h2>We believe in good!</h2>
                <p>When we say good, we don’t just mean good food. We also mean the goodness that good food leads to. Good memories, a good temper, a good day, a good burp. And we know that when our food leaves our kitchens, we’re creating all that. It’s rewarding, this belief in good. Now take a look at how we go about it.</p>  
          </section> <!-- // First Section End -->

          <section>
              <div class="aboutCard">
                  <div class="columns col-gapless">
                      <div class="aboutLeft">
                          <h5>No good salad starts <br/>with stale lettuce.</h5>
                          <p>We’re ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they’re still young and fresh - that’s our motto. It makes the kitchen a better place.</p>
                      </div>
                      <div class="aboutRight"><img src="assets/images/banner3.jpg" class="img-responsive" alt="..." ></div>
                    </div>
              </div>
          </section> <!-- //Second Section End -->
          <div class="aboutSpace"></div>
          <section>
              <div class="aboutCard">
                  <div class="columns col-gapless">
                      <div class="aboutLeft"><img src="assets/images/banner2.jpg" class="img-responsive" alt="..." ></div>
                      <div class="aboutRight">
                          <h5>Life is one thing after another. <br/>Don’t make it the same thing after another.</h5>
                          <p>We’re ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they’re still young and fresh - that’s our motto. It makes the kitchen a better place.</p>
                      </div>
                      
                    </div>
              </div>
          </section> <!-- //Third Section End -->
          <div class="aboutSpace"></div>
    </div>
  </div>
  </section>