
@import "../../../../assets/css/variables";
.btnArea{
    display:inline-block; border:1px solid $uboxit-primary-color; height:29px; padding:1px;
}
.btnCounter{
    display:inline-block; background: $uboxit-primary-color; height:25px; padding:0px 10px; position:relative; border:0px; padding-bottom:3px; color: $uboxit-white;
}
.inputCounter{
    border:0px; box-shadow:none; border-radius:0px; padding:0px; width:30px; font-size:14px; text-align:center;    height: 20px;     line-height: 14px;
}

.btnCounterBigScreen{
    width: 100%;
}
.btn-successBigScreen{
    width:62%;
}
.counterArea{
    display:inline-block; width:30px;height:25px;
}

@media only screen and (max-width: 480px) {
    .column{
        padding-right: 0px;
    }
    // .btnCounter{
    //     padding: 3px;
    // }
    // .btn-successBigScreen{
    //     width:auto;
    // }
    // .counterArea{
    //     width:20px
    // }
    // .inputCounter{
    //     width:20px; 
    // }
    // .btnCounter .icon{
    //     width:0.8em;
    // }
}

