<div class="btnArea" *ngIf="isActiveCounter">
      <button class="btnCounter" (click)="decrement()"><i class="icon icon-minus"></i></button>
      <div class="counterArea">
          <input [value]="counterValue" class="inputCounter"/>
      </div>
      <button class="btnCounter" (click)="increment()"><i class="icon icon-plus"></i></button>
</div>
<button class="btn btn-primary" [ngClass]="{'btnCounterBigScreen':'isActiveCart'}" (click)="increment()" *ngIf="showAddToCartWhenZero && isActiveCart">Add to Cart</button>
<button class="btn btn-success animated slideInRight" [ngClass]="{'btn-successBigScreen':findCurrentMCPath}" *ngIf="isActiveCounter && findCurrentShopPath" routerLinkActive="active" [routerLink]="['/shoppingcart']">
    <i class="fa fa-shopping-basket show-xs" aria-hidden="true"></i>
    <span class="hide-xs">Buy</span>
</button>
