<div class="gen-layout terms">
  <div class="animated slideInDown">Terms and Conditions</div>

</div>
<section>
  <div class="container grid-lg genLayoutInner"> 
      <div class="column">
        <p>
            Please read terms and conditions carefully before ordering through our website www.uboxit.nl
            and mobile apps. By placing an order, you accept these terms and conditions.
        </p>
        <h2>SECTION 1 - INTRODUCTION </h2>
        <div>
          <p>
              We are UBoxIT (www.uboxit.nl and mobile apps) newly started online food ordering and take
              away which is operating under Your Delicacy B.V. 
          </p>
          <p>These terms and conditions are applicable for all users visiting our website and mobile apps. You
              can review the most recent version of the terms and conditions on this page. UBoxIT reserve the
              right to update, change or replace any part of these terms and conditions by updating and/or
              changing in our Website/ mobile apps.
            </p>
        </div>

        <h2>SECTION 2 – DEFINITIONS</h2>
        <div>
          <p>
              2.1 "Terms and Conditions", refers to these terms and conditions, payment instructions, privacy
              policy, refund and cancellation instructions you receive
          </p>
          <p>2.2 For the purpose of these terms and conditions, wherever referred "You/you" or "User" means
              any natural/legal person who visits our website and mobile apps, either just for visiting the
              website/apps or purchase/ordering food. Wherever referred "We/we", "Us/us", "Our/our" refers
              to Your Delicacy B.V (UBoxIT – www.uboxit.nl).</p>
          <p>
              2.3 Goods,services, item or combo refers to products or food we offer in our website and mobile
              apps.
          </p>
          <p>
              2.4 “Privacy” refers to our “privacy policy” regarding the collection and use of personal data.
          </p>
          <p>2.5 “Delivery” refers to delivering food at your doorsteps we offer for you.</p>
          <p>2.6 Our website refers to www.uboxit.nl and mobile apps refer to android and ios app</p>
          
        </div>
        <h2>SECTION 3 – ORDER</h2>
        <div>
          <p>3.1 Ordering in our website or mobile apps means you are accepting or agreeing the terms and
              conditions.
              </p>
          <p>3.2 Any acceptance of terms and conditions means the agreement between you and us. Please
              carefully read and accept the terms and conditions. Proceed careful when entering your data on
              our website and apps, also make sure that the data are correct and the payment details are your
              data.
              </p>
            <p>
                3.3 Food ordered on our website and mobile apps are intended for your personal or party use
                only. You agree not to resell the food items ordered with us. In this agreement, you act as
                customer and not as a selling agent for another party.
            </p>
            <p>
                3.4 Certain goods from our site is intended for certain users or age group only. Please check
                before you order.
                
            </p>
            <p>
                3.5 Order you place with us is based on availability and delivery location. If you place an order
                online, a confirmation will be sent to you via email or mobile sms. Please contact us immediately,
                if your data is not correct.
                
            </p>
            <p>
                3.6 If your order can not be processed, we will notify or reach you immediately.

            </p>
            <p>
                3.7 The confirmation email will contain the items, price, delivery address and the price of the
                order. If the delivery gets delayed we will notify you.
            </p>

        </div>
        <h2>SECTION 4 – PAYMENTS</h2>
        <div>
          <p>4.1 we reserve the rights to change the price of the item or goods, VAT, delivery charge, payment
              charge without any notice.</p>
            <p>4.2 Total cost of the goods which you purchase are displayed in the overview of shopping cart
                which includes the goods price, VAT, total price to be paid (after discount if any promo applied).
                Payment can be done by online using payment methods credit card or iDEAL, otherwise by cash
                on delivery or pay at store while pick up the order</p>
              <p>4.3 All price indication for the goods or items are correct. We do not charge any hidden price for
                  the order.</p>
              <p>4.4 we reserve the rights to add or stop goods/item in our site
                </p>
                <p>4.5 we use secured payment service provider to handle the payment flow. We integrated the sdk
                    of the provider, which takes care of the encryption of your credit and debit card information.
                    Along with this your bank or card provider may also do additional checks to confirm like 3d
                    secure, bank pin verification, etc...</p>
        </div>

        <h2>SECTION 5 – DELIVERY AND POST ORDER </h2>
        <div>
          <p>5.1 We ensure that the order is delivered to the right person and right location as specified during
              order an item</p>
          <p>5.2 Delivery time specified in website, mobile apps and order confirmation email/sms is
              indication only and therefore the real delivery time may vary.</p>
          <p>5.3 Orders are delivered by employee of us who is authorized to do delivery. If the food is not
              delivered within specified time then contact our customer service or sales@uboxit.nl
              </p>
          <p>5.4 If the food is not delivered on time then there will not be any refund.</p>
          <p>5.5 If the food is not delivered to the right person or right location as specified during order, the
              whole amount will be refunded with in 14 days.</p>
              <p>
                  5.6 If the delivery of food is damaged during delivery then contact our customer service or
                  sales@uboxit.nl
              </p>
            <p>5.7 we can not deliver the goods in all location, if its not possible then our customer service will
                reach you, cancel the order and refund the whole amount.
                </p>
        </div>

        <h2>SECTION 6 - CANCELLATION AND REFUND POLICY</h2>
        <div>
          <p>6.1 The cancellation of any order made by you should be cancelled within fifteen (15) minutes of
              placing the order for same day delivery and within 3 hours for next day delivery. Any cancellation
              made after the specified time will not be considered and we are entitled to receive the entire
              amount of the order placed by you. You can cancel the order by calling the customer service,
              refer contact us section for mobile/phone number.</p>
          <p>6.2 If the cancellation is accepted by us, the amount will be refunded within 14 days.</p>
          <p>6.3 We are sure that you will love our food. In case you are not happy with our meal or food, let
              us know at sales@uboxit.nl or by reaching customer service number. UBoxIT reserves the right
              to refund the entire amount for the order.</p>
          <p>6.4 In any case the wrong order is delivered then you reserve the rights to cancel the order and
              the whole amount will be refunded within 14 days.</p>
          <p>6.5 If the part of the order only available then the customer service will reach you immediately
              to notify. You reserve the rights to choose alternative goods or cancel the order.</p>
        </div>



        <h2>SECTION 7 – DATA ACCURACY AND INFORMATION</h2>
        <div>
          <p>7.1 You ensure that any data provided to is correct and complete
            </p>
          <p>7.2 You agree that the data you provided that we use to process your order and delivered
            </p>
          <p>7.3 You reserve the rights to ask the copy of your data.</p>
          <p>7.4 We ensure that the datas are processed and stored in secure way. However we are not
              responsible for third party loss or hacked.</p>
          
        </div>



        <h2>SECTION 8 - PROPRIETARY AND CONTENT RIGHTS</h2>
        <div>
          <p>8.1 Content like images, logos, text, names, logos, trademarks, graphics, videos, photographs,
              are protected by copyrights and owned by us. 
            </p>
          <p>8.2 You are not allowed to use the content for any commercial purpose.
            </p>
        
        </div>


        <h2>SECTION 9 – COMPLIANTS </h2>
        <div>
          <p>9.1 We take complaints serious and resolve all queries and complaints with in 1 hour.
              Compliants should be raised by reaching our customer service or sending mail to
              contactus@uboxit.nl
              
            </p>
       
        </div>

        <h2>SECTION 10 – GENERAL</h2>
        <div>
          <p>10.1 UBoxIT reserves the rights to change content, services and price without notice at any time.
              We shall not be liable to you or to any third party for any modification, price change, suspension
              or discontinuance of the Service.
              
            </p>
            <p>10.2 We reserve the right to amend this Terms of Use at any time and without notice, and it is
                your responsibility to review this Terms of Use for any changes.
                
              </p>
              <p>10.3 In case of anything wrong from the use of the Website/mobile apps, please contact the
                  customer service immediately.
                  
                </p>
                <p>10.4 Sometime the data on our site and mobile apps are inaccuracy, errors that may related to
                    the goods, price, promos and offers. We reserve the rights to correct it without any notice.</p>
                <p>10.5 All prices are indicated in Euros €</p>
                <p>10.6 Terms and Conditions agreement will be governed by Dutch law.
                  </p>
        </div>


        <h2>SECTION 11 – CONTACT US 
          </h2>
        <div>
          <p>UBoxIT is business brand registered under Your Delicacy B.V </p>
          <b>Business Location: </b>
          <address>
            
              Hullenbergweg 278, <br/>
              1101BV Amsterdam.<br/>
              KVK No: 69914451<br/>
              VAT No: 858063049B01<br/>

          </address><br/>
          <b>Operating Location:</b> 
          <address>
              Augustinuspark 14 <br/>
              1185CN Amstelveen <br/>
              Mobile Number: 0626566374


          </address>
          <p>Opening Days and Hours: Monday to Friday (10:00 AM to 02:00 PM, 05:00 PM to 10:00 PM),
              Saturday to Sunday (11 AM to 02:00 PM, 05:00 PM to 10:00 PM)</p>
        </div>


      </div>
  </div>
</section>