.uboxit-title {
  padding: 20px 0;
}

.example-container {
  clear: both;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-row .mat-header-cell {
  color: #FF655A;
}

.refresh-rate {
  width: 30%;
  float: right;
}

mat-cell.clickable {
  cursor: pointer;
}

mat-cell.clickable:hover {
  color: #FF655A;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

h4 {
  margin-left: 20px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
