@import "../../../assets/css/_variables";

.uboxit-title {
  padding: 20px 0;
}

.uboxit-title span {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.uboxit-title span button {
  width: 150px;
}

.example-container {
  clear: both;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-row .mat-header-cell {
  color: #FF655A;
}

.mat-row.new-entry {
  background-color: #ffb8b3;
}

.refresh-rate {
  width: 30%;
  float: right;
}

.box {
  display:inline-block;
  width: 49.5%;
}

.header-color{
  background: $uboxit-primary-color;
  height: 70px;
}

.modal.active {
  .modal-container {
    max-width: 100%!important;
    width: 90%;
    height: 90%;
    .modal-body {
      max-height: 100% !important;
    }
  }
}

mat-cell.clickable {
  cursor: pointer;
}

mat-cell.clickable:hover {
  color: #FF655A;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

h4 {
  margin-left: 20px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
