<app-advertisement *ngIf="!showMobile"></app-advertisement>
 <section stickyHeader (stickyHeaderValue) = "stickyHeaderValue($event)" class="uboxitMenuBar"  [ngClass]="{'uboxitMenu':uboxitMenu}" >
    <app-bar-menu *ngIf="loadMenu | async" [availableTypes]="availableTypes" (filterType)="filterOffers($event)"></app-bar-menu>
</section>
<section>
    <div class="container grid-lg" id="isActiveForDestop">
         <div class="column">
             <div class="uboxit-title">
                <h3>All in One Choices</h3>
                <p>Our Contemporary Take on the Authentic Royal Indian Choices. Bon Appetit!</p>
            </div>
            <div class="uboxit-content">
                <!-- Content Start -->
                <div class="uboxit-row">
                    <div class="uboxit-column" *ngFor="let offer of itemsToDisplay;" >
                        <div class="uboxit-card">
                            <div class="uboxit-card-flex">
                                <div class="uboxit-card-flex-left c-hand" (click)="onSelect(offer); active = true"> <img src="{{offer.image}}" onError="this.src='assets/images/no_image.png'" [class.selected]="offer === selectedOffer"/></div>
                                <div class="uboxit-card-flex-right">
                                    <div class="uboxit-card-flex-head">
                                        <div class="uboxit-card-title">{{offer.title}}</div>
                                    </div>
                                    <div class="uboxit-card-content">
                                        <img *ngIf="offer.dietType === DietType.Veg" src="../../assets/images/veg.png" class="veg"/>
                                        <span class="chip">{{offer.category}}</span>
                                    </div>
                                    <div class="uboxit-card-footer">
                                        <div class="uboxit-card-footer-euro">
                                             <span *ngIf="offer.discountedPrice"  class="uboxit-normalRate"><s>&euro;{{offer.normalPrice}}</s>&nbsp;&euro;{{offer.discountedPrice}}</span>
                                             <span *ngIf="!offer.discountedPrice" class="uboxit-normalRate">&euro;{{offer.normalPrice}}</span>
                                        </div>
                                        <div class="uboxit-card-footer-btn ">
                                            <app-add-to-cart-counter [counterValue]="!!offer.count ? offer.count : 0" (updatedCount)="addProductToCart(offer.id, $event)"></app-add-to-cart-counter>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Content End -->
            </div>
         </div>
    </div>
</section>

<!-- Model Window Start -->
<div [ngClass]="{'modal':true, 'active':active}" *ngIf="selectedOffer" >
  <div class="modal-overlay" appModelCloseOnOverlay (modelClose)="modelclose($event)"></div>
  <div class="modal-container">
        <div class="uboxit-m-close-btn c-hand" (click)="close();"><i class="material-icons">close</i></div>
        <div class="uboxit-m-body">
              <div class="uboxit-m-img"><img src="{{selectedOffer.image}}" onError="this.src='assets/images/no_image.png'"/></div>
              <div class="uboxit-m-title">
                  <div class="uboxit-m-title-cap">{{selectedOffer.title}}</div>
                  <div class="uboxit-m-title-rate">
                        <span *ngIf="selectedOffer.discountedPrice"><s>&euro;{{selectedOffer.normalPrice}}</s>&nbsp;&euro;{{selectedOffer.discountedPrice}}</span>
                        <span *ngIf="!selectedOffer.discountedPrice">&euro;{{selectedOffer.normalPrice}}</span>
                  </div>
              </div>
              <div class="uboxit-m-action">
                  <img *ngIf="selectedOffer.dietType === DietType.Veg" src="../../assets/images/veg.png" class="veg"/>
                  <span class="chip">{{selectedOffer.category}}</span>
                  <span class="uboxit-m-counter">
                    <app-add-to-cart-counter [counterValue]="!!selectedOffer.count ? selectedOffer.count : 0" (updatedCount)="addProductToCart(selectedOffer.id, $event)"></app-add-to-cart-counter>
                  </span>
              </div>
              <div class="uboxit-m-desc">
                  <div class="content" >
                      <div>
                           <ul class="tab tab-block">
                             <li class="tab-item"><a [ngClass]="{'active':activeyes}" (click)="opendetails();">Details</a></li>
                             <li class="tab-item"><a [ngClass]="{'active': !activeyes}" (click)="openingredients();">Ingredients</a></li>
                           </ul>
                       </div>
                         <div class="detailContainer">
                           <div class="text-justify details" [ngClass]="{'nonactive animated zoomIn':isActivedetails}">{{selectedOffer.descriptions[0]}}</div>
                           <div class="text-justify ingredients" [ngClass]="{'nonactive animated zoomIn':isActiveingredients}">{{selectedOffer.ingredients}}</div>
                         </div>
                         <!-- content here -->
                  </div>
              </div>
        </div> <!-- Section Content End -->

  </div>
</div>
