@import "../../../../assets/css/variables";


.uboxit-m-body{ }
.uboxit-m-close-btn { position: relative; }
    .uboxit-m-close-btn i { position: absolute; top:10px; right: 10px; z-index: 2; font-size: 40px; color: $uboxit-primary-color; } 
.uboxit-m-img { width: 500px; height: 300px; z-index: 1; overflow: hidden;
    @include breakpoint(ExtraSmallMobile){
        width: 300px; height: 150px;
      }
      @include breakpoint(ExtraLargeMobile){
        width: 300px; height: 150px;
    }
    @include breakpoint(MediumDevice){
        width: 500px; height: 300px;
     }
     @include breakpoint(LargeDevice){
        width: 500px; height: 300px;
     }
     @include breakpoint(ExtraDevice){
        width: 500px; height: 300px;
     }
}
.uboxit-m-img img{ border-radius:10px 10px 0px 0px; position: relative; background-position: center top; object-fit:cover; background-repeat: 
    no-repeat; width:500px; height: 300px;
    @include breakpoint(ExtraSmallMobile){
        width: 300px; height: 150px;
      }
      @include breakpoint(ExtraLargeMobile){
        width: 300px; height: 150px;
    }
    @include breakpoint(MediumDevice){
        width: 500px; height: 300px;
     }
     @include breakpoint(LargeDevice){
        width: 500px; height: 300px;
     }
     @include breakpoint(ExtraDevice){
        width: 500px; height: 300px;
     }
}

.uboxit-m-title { background:#e7e9ed;padding: 0px 20px 0px 20px; font-family:$uboxit-font; font-size: 15px;
 height: 50px;  line-height: 50px; font-weight:400;  display: flex;
 }
 .uboxit-m-title-cap { width: 70%; text-overflow: ellipsis; overflow: hidden;white-space: nowrap; }
 .uboxit-m-title-rate { width: 30%;  text-align: right;}
.uboxit-m-action { padding-left:20px; background:#f0f1f4; height: 50px;border-bottom: 1px solid #ccc; position: relative; padding-top:10px}
.uboxit-m-actio img { position: relative; top:-2px}
.uboxit-m-counter { position: absolute; right: 20px;  }
.uboxit-m-desc { width: 500px;  padding: 20px; font-family:$uboxit-font;
    @include breakpoint(ExtraSmallMobile){
        width: 300px; 
      }
      @include breakpoint(ExtraLargeMobile){
        width: 300px;
       }
       @include breakpoint(MediumDevice){
        width: 500px; 
     }
     @include breakpoint(LargeDevice){
        width: 500px;
     }
     @include breakpoint(ExtraDevice){
        width: 500px; 
     }
}

.chip { background: #ddd}
.details { display: none; padding: 10px; font-family:$uboxit-font;}
.ingredients{ display: none; padding: 10px; font-family:$uboxit-font;}
.nonactive { display: block; }
.uboxit-m-rate { font-weight: 600;}