<app-advertisement *ngIf="!showMobile"></app-advertisement>
 <section stickyHeader (stickyHeaderValue) = "stickyHeaderValue($event)" class="uboxitMenuBar"  [ngClass]="{'uboxitMenu':uboxitMenu}" >
    <app-bar-menu *ngIf="loadMenu | async" [availableTypes]="availableTypes" (filterType)="filterOffers($event)"></app-bar-menu>
</section>
<section>
    <div class="container grid-lg" id="isActiveForDestop">
         <div class="column">
             <div class="uboxit-title">
                <h3>All in One Choices</h3>
                <p>Our Contemporary Take on the Authentic Royal Indian Choices. Bon Appetit!</p>
            </div>
            <div class="uboxit-content">
                <!-- Content Start -->
                <div class="uboxit-row">
                    <div class="uboxit-column" *ngFor="let offer of itemsToDisplay;">
                        <div class="uboxit-card">
                            <div class="uboxit-card-flex">
                                <div class="uboxit-card-flex-left" (click)="onSelect(offer); active = true"> <img src="{{offer.image}}" [class.selected]="offer === selectedOffer"/></div>
                                <div class="uboxit-card-flex-right">
                                    <div class="uboxit-card-flex-head"> 
                                        <div class="uboxit-card-title">{{offer.title}}</div>
                                    </div>
                                    <div class="uboxit-card-content"> 
                                        <img *ngIf="offer.dietType === DietType.Veg" src="../../assets/images/veg.png" class="veg"/>
                                        <span class="chip">{{offer.category}}</span>
                                    </div>
                                    <div class="uboxit-card-footer">
                                        <div class="uboxit-card-footer-euro">
                                             <span *ngIf="offer.discountedPrice"><s>&euro;{{offer.normalPrice}}</s>&nbsp;&euro;{{offer.discountedPrice}}</span>
                                             <span *ngIf="!offer.discountedPrice">&euro;{{offer.normalPrice}}</span>
                                        </div>
                                        <div class="uboxit-card-footer-btn ">
                                            <app-add-to-cart-counter [counterValue]="!!offer.count ? offer.count : 0" (updatedCount)="addProductToCart(offer.id, $event)"></app-add-to-cart-counter>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

           
                <!-- Content End -->
            </div>
         </div>
    </div>
</section>

<!-- Model Window Start -->
          <div [ngClass]="{'modal':true, 'active':active}" *ngIf="selectedOffer" >
            <div class="modal-overlay" appModelCloseOnOverlay (modelClose)="modelclose($event)"></div>
            <div class="modal-container">
              <div class="relative">
                <img src="{{selectedOffer.image}}" onError="this.src='assets/images/no_image.png'"  class="img-responsive">
                <div *ngIf="selectedOffer.items">
                  <span *ngIf="selectedOffer.items[0]" class="absolute" style="height:40px; width:166px; bottom:60px;">
                          <img src="{{selectedOffer.items[0].image}}" onError="this.src='assets/images/no_image.png'"  width="166" height="105"/>

                    </span>
                  <span *ngIf="selectedOffer.items[1]" class="absolute" style="height:40px; width:166px; bottom:60px; left:167px;">
                        <img src="{{selectedOffer.items[1].image}}" onError="this.src='assets/images/no_image.png'"  width="166" height="105"/>

                  </span>
                  <span *ngIf="selectedOffer.items[2]" class="absolute" style="height:40px; width:166px; bottom:60px; left:334px;">
                      <img src="{{selectedOffer.items[2].image}}" onError="this.src='assets/images/no_image.png'"  width="166" height="105"/>

                  </span>
                </div>
              </div>
              <div class="modal-header">
                <button class="btn btn-clear float-right" (click)="close();"></button>
                <div class="modal-title h5"><img src="../../assets/images/veg.png" class="veg"/>{{selectedOffer.title}}</div>
                <div *ngIf="selectedOffer.itemNames" class="card-subtitle text-gray">{{selectedOffer.itemNames}}</div>
                <div>
                  <div class="float-left"><span class="chip">{{selectedOffer.category}}</span></div>
                  <div class="float-right"> <!--<i class="material-icons">favorite_border</i> --></div>
                  <div class="clearfix"></div>
                </div>
                <div class="divider"></div>
                <div>
                  <div class="float-left text-bold">
                    <span *ngIf="selectedOffer.discountedPrice"><s>&euro;{{selectedOffer.normalPrice}}</s>&nbsp;&euro;{{selectedOffer.discountedPrice}}</span>
                    <span *ngIf="!selectedOffer.discountedPrice">&euro;{{selectedOffer.normalPrice}}</span>
                  </div>
                  <div class="float-right">
                    <app-add-to-cart-counter [counterValue]="selectedOffer.count" (updatedCount)="addProductToCart(selectedOffer.id, $event)"></app-add-to-cart-counter>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="divider"></div>
              <div class="modal-body" >
                <div class="content" >
                  <div>
                    <ul class="tab tab-block">
                      <li class="tab-item">
                        <a [ngClass]="{'active':activeyes}" (click)="opendetails();">Details</a>
                      </li>
                      <li class="tab-item" >
                        <a  [ngClass]="{'active': !activeyes}" (click)="openingredients();">Ingredients</a>
                      </li>
                    </ul>
                  </div>
                  <div class="detailContainer">
                    <div class="text-justify details" [ngClass]="{'nonactive animated zoomIn':isActivedetails}">
                      {{selectedOffer.description}}
                    </div>
                    <div class="text-justify ingredients" [ngClass]="{'nonactive animated zoomIn':isActiveingredients}">
                      {{selectedOffer.ingredients}}
                    </div>
                  </div>

                  <!-- content here -->
                </div>
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
          <!-- // Model Window -->
          <!-- Model Window End -->