
.bar-layout{ margin-top: -5px;}






@media only screen and (max-width: 480px) {
    .uboxitMenuContainer{
        border:0px;
    }
    .uboxitMenuSecond{
        width: 40%;
    }
    .uboxitMenuFirst{
        width: 40%;
    }
    .uboxitMenuFilter{ 
        width: 20%;
    }   
    .column.col-xs-4.c-hand.btn-common.btn-orange.btn-active.active{
        width:33.33%;
    }
    .column.col-xs-4.c-hand.btn-common.btn-orange{
        width: 50%;
    }
    .column.col-xs-4.c-hand.btn-common.btn-uboxit.btn-active.active{
        width: 50%;
    }
}