
.bar-layout{ margin-top: -5px;}
.btn-common { padding: 10px; z-index: 10; border-top:1px solid #fff;}

.btn-uboxit { 
        color: #fff; 
        xbackground: linear-gradient(to bottom, rgba(255,145,115,1) 0%,rgba(255,100,69,1) 100%); 
        border-bottom: 1px solid #fff;border-left: 1px solid #fff;
        background: #FF655A;
    }
.uboxitDropDown{
    position:relative; z-index:10
}
.uboxitdropDownBox{
    position:absolute; border:1px solid #CCC;background:#fff; max-width: 100%; width: 280px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.4);
}
.uboxitdropDownBox div{
    padding-top: 10px;
}
.uboxitdropDownBox div button{
    position: relative;
    right: 10px;
}
.uboxitdropDownBox ul li{
    list-style: none;
}
.matIconPos{ position: relative; top: 5px;}
.btn-active { background: #f8f9fa;   box-shadow: inset -1px 5px 11px -6px; color: #000;  border-bottom: 0px; }

@media only screen and (max-width: 480px) {
    .uboxitMenuContainer{
        border:0px;
    }
    .uboxitMenuSecond{
        width: 40%;
    }
    .uboxitMenuFirst{
        width: 40%;
    }
    .uboxitMenuFilter{ 
        width: 20%;
    }   
    .column.col-xs-4.c-hand.btn-common.btn-orange.btn-active.active{
        width:33.33%;
    }
    .column.col-xs-4.c-hand.btn-common.btn-orange{
        width: 50%;
    }
    .column.col-xs-4.c-hand.btn-common.btn-uboxit.btn-active.active{
        width: 50%;
    }
}