@import "../../../../assets/css/variables";

//Bar Menu Start //

.barMenu-layout{  height:50px;align-items: baseline;  display:flex; flex-direction: row;  clip:rect();
    border-bottom: 1px solid #ccc; background:$uboxit-background-color ;  color:$uboxit-barMenuFont 
}
.barMenu-layout > div{
    width:50%; text-align:center; line-height:48px; 
}
.matIconPos{ position: relative; top: 5px;}
.btn-active { background:$uboxit-background-color ; color:$uboxit-primary-color }
.btn-active-border{border-bottom:2px solid $uboxit-primary-color;}

.uboxitDropDown {  position:relative; z-index:10; margin-left:10px;}
.uboxitdropDownBox{  position:absolute; background:$uboxit-background-color; width: 35%; min-width: 200px; box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1); margin-left:-10px; }
.uboxitdropDownBox div {padding-top: 10px;}
.uboxitdropDownBox div button{ position: relative;  right: 10px; }
.uboxitdropDownBox ul li{ list-style: none;}
.barMenuMobile { position: relative;}

//Bar Menu End //
.uboxit-footer { position: fixed;  bottom: 0px; height: 56px; background: $uboxit-background-color;
    border-top: 1px solid #ccc;  width: 100%;  z-index: 302; box-shadow: -3px -12px 40px -13px rgba(204,204,204,1);
    display: flex; 
}

.uboxit-footer-cell { padding-top:8px; padding-bottom: 10px; width: 25%; text-align: center; color: $uboxit-barMenuFont; width: 100%;}
.uboxit-footer-icon { height: 24px; }
.uboxit-footer-txt { font-family: $uboxit-font; font-size: 12px; }
.uboxit-footer-btn-active { color:$uboxit-primary-color;  }

:host /deep/ .mat-button{ line-height: inherit; }
:host /deep/ .mat-button.mat-accent { color: inherit; }

.uboxit-footer-active::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('../../../../assets/images/disable_pattern1.png');
    background-repeat: repeat;
}

.uboxit-footer-active-mobile::before {
    content:"";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    xbackground-color: rgba(248,249,250, 0.8);
    background-image: url('../../../../assets/images/disable_pattern1.png');
}