@import "../../../../assets/css/variables";

//Bar Menu Start //

.barMenu-layout{  height:50px;align-items: baseline;  display:flex; flex-direction: row;  clip:rect();
    border-bottom: 1px solid #ccc; background:$uboxit-background-color ;  color:$uboxit-barMenuFont 
}
.barMenu-layout > div{
    width:50%; text-align:center; line-height:48px; 
}
.matIconPos{ position: relative; top: 5px;}
.btn-active { background:$uboxit-background-color ; color:$uboxit-primary-color }
.btn-active-border{border-bottom:2px solid $uboxit-primary-color;}

.uboxitDropDown {  position:relative; z-index:10; margin-left:10px;}
.uboxitdropDownBox{  position:absolute; background:$uboxit-background-color; width: 35%; min-width: 200px; box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1); margin-left:-10px; }
.uboxitdropDownBox div {padding-top: 10px;}
.uboxitdropDownBox div button{ position: relative;  right: 10px; }
.uboxitdropDownBox ul li{ list-style: none;}



//Bar Menu End //






