<section class="contactBanner">
    <div class="container grid-lg"><div class="bannerCaption">Contact Us</div></div>
    <img src="assets/images/contact-us-banner.jpg" class="img-responsive" alt="..." >
</section>
<section class="contentSec">
      <div class="container grid-lg"> 
      <div class="column">
      <p class="getinTouch">GET IN TOUCH</p>
      <h1>We would be happy to <br/>answer your questions.</h1>
      <p>If you have any questions concerning our services or want to schedule an appointment with one of our consultants - please contact us using the details below.</p>
      <div class="addressSpec">
          <ul >
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>Hubo Lambertus van den Broek, Amstelveen, 1180 AF.</li>
              <li><i class="fa fa-calendar-times-o" aria-hidden="true"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>31 649-668-8449</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i>connect@uboxit.com</li>
          </ul>
      </div>
        <div class="socialMedia">
              <ul>
                  <li><button class="btn btn-primary btn-action circle"><i class="fa fa-facebook" aria-hidden="true"></i></button></li>
                  <li><button class="btn btn-primary btn-action circle"><i class="fa fa-twitter" aria-hidden="true"></i></button></li>
                  <li><button class="btn btn-primary btn-action circle"><i class="fa fa-instagram" aria-hidden="true"></i></button></li>
                  <li><button class="btn btn-primary btn-action circle"><i class="fa fa-google-plus" aria-hidden="true"></i></button></li>
              </ul>
        </div>
      </div> <!-- //.column -->
      </div> <!-- //.container grid-lg -->
</section>
