<!-- <section>
    <div class="container grid-lg">
        <div class="columns">
          <div style="border-left:5px solid #FF655A; padding:10px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc;margin-top:10px;">
                We are currently delivering in these locations: Amsterdam Zuid, Amsterdam Bijlmer, Amstelveen and Schiphol            
                And any locations with 15KM radius from us
          </div>
        </div>
      </div>
</section> -->
<section >
    <!-- <app-location></app-location> -->
    <app-advertisement></app-advertisement>
</section>

<section class="uboxitContainer">
    <app-offers></app-offers>
</section>
