
<section class="">
    <div>
        <mat-radio-group [(ngModel)]="valueSelcted">
             <div class="radioDiv"><mat-radio-button value="0" [checked]="true" (change)="loadPaymentWidget()">Online Payment</mat-radio-button></div>
             <div *ngIf="valueSelcted == 0" class="showSelectedRadio">
               <div *ngIf="adyenPaymentSupported" id="checkout-div" class="checkout-div"></div>
               <div class="clearfix"></div>
               <div class="m-1"></div>
             </div>
             <div class="radioDiv"><mat-radio-button value="1" (change)="paymentOnDelivery()">{{payOnDeliveryRadioText}}</mat-radio-button></div>
             <div *ngIf="valueSelcted == 1" class="showSelectedRadio">
                {{payOnDeliveryText}}
               <br>
               <b>Amount Payable : &euro; {{amount}}</b>
             </div>
        </mat-radio-group>
    </div>
</section>

<div class="modal modal-lg active" id="modal-id" *ngIf="showOrderError">
  <a class="modal-overlay" aria-label="Close" (click)="closeModel();"></a>
  <div class="modal-container">
    <div class="modal-header header-color">
      <button class="btn btn-clear uboxitLogo float-right" (click)="closeModel();" ></button>
      <div class="modal-title h5"><img src="assets/images/Uboxitlogo.png" width="80px" style="border-radius:0px"/></div>
    </div>
    <div class="modal-body location">
      <div class="content">
        <div><strong>Sorry !!!</strong></div>
        <div>{{orderErrorMessage}}</div>
      </div>
    </div>
  </div>
</div>
