
<!--
<form *ngIf="!adyenPaymentSupported">
    <input type="radio" name="pay" checked> Pay on delivery <br>
    <input type="radio" name="pay"> Other payment options <br>
</form>-->
  <div *ngIf="adyenPaymentSupported" id="checkout-div" class="checkout-div"></div>
<section class="">
    <div>
        <mat-radio-group [(ngModel)]="valueSelcted">
             
             <div class="radioDiv"><mat-radio-button value="0" [checked]="true">Other payment options</mat-radio-button></div>
             <div *ngIf="valueSelcted == 0" class="showSelectedRadio">test
              
             </div>
             <div class="radioDiv"><mat-radio-button value="1">Pay on delivery </mat-radio-button></div>
             <div *ngIf="valueSelcted == 1" class="showSelectedRadio">
                test1
             </div>
        </mat-radio-group>
    </div>
</section>
