@import "../../../assets/css/variables";

/deep/ label{
    pointer-events:all;
}

input {
  display: inline;
  margin: 15px;
}

.chckt-button--disabled{
  
}
.chckt-button{

}
.chckt-pm__radio-button{

}
