@import "../../../assets/css/variables";

/deep/ label{
    pointer-events:all;
}

input {
  display: inline;
  margin: 15px;
}

.chckt-button--disabled{
  
}
.chckt-button{
  
}
.chckt-pm__radio-button{

}
.chckt-button--disabled{
  background-color:#ccc;
}
.chckt-button{
  background-color:$uboxit-primary-color; 
}
.chckt-pm-list__button--loading{
  background-color:$uboxit-primary-color; 
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.md-radio {
  margin: 16px 0;
}
.md-radio.md-radio-inline {
  display: inline-block;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label:before {
  border-color: $uboxit-primary-color;
  animation: ripple 0.2s linear forwards;
}
 input[type="radio"]:checked + label:after {
  transform: scale(1);
}
 span {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
span:before,  span:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
span:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
span:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: $uboxit-primary-color;
}




//new
/deep/.mat-expansion-panel-body{
  padding: 0px;
}
/deep/.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:$uboxit-primary-color;
}
/deep/.mat-radio-label-content{
    font-family: $uboxit-font;
}
.radioDiv{
    padding:10px;
    @include breakpoint(smart-phone){
    padding:20px;  
    } 
}
.showSelectedRadio{
    transition: visibility 0s, opacity 0.5s linear;
    padding: 20px;
}
