@import "../../../../assets/css/variables";
.loactionNewLayout { font-family: $uboxit-font; }
.locationTxt { color:$uboxit-white; white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; text-align: center; }
.locationTxt span {position: relative; top: 2px; }
.locationPos { position: absolute;  z-index: 313;}
.modal-body.location { line-height: 0px;}
.content > div { padding: 10px;}
.pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255,255,255, 1);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
.default-location {
  position: absolute;
  background:rgba(255,255, 255, 1);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  padding: 10px;
  color: #000;
  font-size: 13px;
  max-width: 330px;
  top: 10px;
  box-sizing: border-box;
  z-index: 312;
  border-radius: 3px;
  width:275px;
  left:-116px;
  text-align: left;
}
.header-color{
  background: $uboxit-primary-color;
  height: 70px;
}
.default-location:after {
  bottom: 100%;
  left: 68%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(51,121,238,0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
  z-index: 312;
}
.areaTitlePos{
    position: relative;
    color: #fff;
}
.areaTitleLayout{
 position:absolute; top:-25px; left:-60px; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;
 @include breakpoint(smart-phone){
  top:-20px; left:-60px
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
