.carousel-container{
   height:300px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  @media only screen and (max-width: 480px) {
    .carousel-container{
        height:200px;
     }
}