<div>
<ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem class="carousel-container" *ngFor="let banner of banners">
            <div class="bannerCaption">{{banner.caption}}</div>
            <img  src="{{banner.imageurl}}" class="img-responsive rounded" alt="macOS Yosemite Wallpaper">
          </ngx-item>
         
           <span NgxCarouselPrev class='leftRs c-hand'><i class="material-icons arrowFont">keyboard_arrow_left</i></span>
          <span NgxCarouselNext class='rightRs c-hand'><i class="material-icons arrowFont">keyboard_arrow_right</i></span>
</ngx-carousel>
            </div>
<!-- Learn From Here ..// https://www.npmjs.com/package/ngx-carousel -->
<!-- 

         
        
-->