

<section class="">
    <div>
        <mat-radio-group [(ngModel)]="valueSelcted">

            <div class="radioDiv"><mat-radio-button value="2">Add your Delivery Address</mat-radio-button></div>
            <div *ngIf="valueSelcted == 2" class="">
                <div class="addressNewForm">
                    <form>
                    <div class="addressNewFormInner">
                      <div class="group">
                        <table style="width:100%">
                          <tr>
                            <td>
                              <div class="group">
                                <input type="text"id="fname" required name="fname" [(ngModel)]="addressModel.firstName" minlength="4" #fname="ngModel">
                                <span class="highlight"></span>
                                <span class="bar"></span><label>First Name</label>
                              </div>

                            </td>
                            <td>
                              <div class="group">
                                <input type="text" required name="lname" [(ngModel)]="addressModel.lastName">
                                <span class="highlight"></span>
                                <span class="bar"></span><label>Last Name</label>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                        <!-- Validation Name-->
                        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="toast toast-error space">
                            <div *ngIf="fname.errors.required">First Name is required. </div>
                            <div *ngIf="fname.errors.minlength">Name must be at least 4 characters long.</div>
                        </div>
                          <!-- Validation End Name -->
                      <div class="group">
                        <input type="text" id="postcode" required name="postcode" [(ngModel)]="addressModel.postalCode"  minlength="6" #postcode="ngModel">
                        <span class="highlight"></span>
                        <span class="bar"></span><label>Postcode</label>
                      </div>
                         <!-- Validation PostCode-->
                         <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="toast toast-error space1">
                            <div *ngIf="postcode.errors.required">Postcode is required. </div>
                            <div *ngIf="postcode.errors.minlength">PostCode must be at least 6 characters long.</div>
                        </div>
                          <!-- Validation End PostCode -->
                      <div class="group">
                          <table style="width:100%">
                            <tr>
                              <td>
                                <div class="group">
                                  <input type="text" required name="housenumber" [(ngModel)]="addressModel.houseNumber">
                                  <span class="highlight"></span>
                                  <span class="bar"></span><label>House Number</label>
                                </div>
                              </td>
                              <td>
                                <div class="group">
                                  <input type="text" required name="streetname" [(ngModel)]="addressModel.street">
                                  <span class="highlight"></span>
                                  <span class="bar"></span><label>Street Name</label>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      <div class="group">
                          <table style="width:100%">
                              <tr>
                                <td>
                                    <div class="group">
                                    <input type="text" required name="cityarea" [(ngModel)]="addressModel.area">
                                    <span class="highlight"></span>
                                    <span class="bar"></span><label>City/Area</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="group">
                                        <input type="text" required name="cityarea" [(ngModel)]="addressModel.area">
                                        <span class="highlight"></span>
                                        <span class="bar"></span><label>Location/LandMark</label>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                      </div>
                      <div class="group">

                        <input type="text" required name="phone" [(ngModel)]="userModel.phone">
                        <span class="highlight"></span>
                        <span class="bar"></span><label>Phone Number</label>
                      </div>
                      <div class="group">
                        <input type="email" id="email" required name="email" [(ngModel)]="userModel.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <span class="highlight"></span>
                        <span class="bar"></span><label>Email Address</label>
                      </div>
                       <!-- Validation Email-->
                       <div *ngIf="email.invalid && (email.dirty || email.touched)" class="toast toast-error space1">
                          <div *ngIf="email.errors.required">Email Name is required. </div>
                          <div *ngIf="email.errors.pattern">Email is Invalid</div>

                      </div>
                        <!-- Validation End Email -->

                    </div>
                  </form>

                  </div>
            </div>
               <div class="radioDiv"><mat-radio-button value="1">Pick up at store</mat-radio-button></div>
            <div *ngIf="valueSelcted == 1" class="showSelectedRadio">
              <address>
                Augustinuspark , 14. 1185CN, Amstelveen
              </address>
            <div class="addressfields">
              <div class="group">
                  <input type="text" required name="email" class="input-color" [(ngModel)]="userModel.email">
                  <span class="highlight"></span>
                  <span class="bar"></span><label>Enter your Email Address</label>
              </div>
              <div class="group">
                  <input type="text" required name="phone" class="input-color" [(ngModel)]="userModel.phone">
                  <span class="highlight"></span>
                  <span class="bar"></span><label>Enter your Phone Number</label>
              </div>
            </div>
            </div>
          </mat-radio-group>
          <div class="actionRow">
          <div class="float-right">
            <button class="btn btn-primary" [ngClass]="{'disabled':!(userModel.email && userModel.phone)}" (click)="addAddress()">Go to Payment</button>
          </div>
          <div class="clearfix"></div>
        </div>
    </div>
</section>

