<section class="uboxitLayout">
    <div class="container grid-lg">
      <div class="columns">
          <!--Already Address Present -->
          <section class="addressPresent">
                <div class="address-repeat">
                  
                  <div class="addressPresent-left"><input type="radio" name="address" style="width:30px; height:18px;"/></div>
                  <div class="addressPresent-right">
                      <div class="address-name">Mr.Umar Abbas</div>
                      <div>Populierenlaan, 219.</div>
                      <div>1185SK, Amstelveen, The Netherlands</div>
                      <div>+31 649668445</div>
                  </div>
                  <div class="clearfix"></div>
                 
               
                </div>
                
                <div  class="address-repeat"> 
                  
                    <div class="addressPresent-left"><input type="radio" name="address" style="width:30px; height:18px;"/></div>
                    <div class="addressPresent-right">
                        <div class="address-name">Mr.Umar Abbas</div>
                        <div>Populierenlaan, 219.</div>
                        <div>1185SK, Amstelveen, The Netherlands</div>
                        <div>+31 649668445</div>
                    </div>
                    <div class="clearfix"></div>
                   
                 
                  </div>
          </section>
          <section>
                <div style="padding-top:10px;">
                    
                    <div class="popover popover-right">
                        <button class="btn btn-primary">Add a new Address</button>
                        <div class="popover-container">
                          <div class="card">
                            <div class="card-header">
                                <h6>Working in Progress</h6>
                            </div>
                            </div>
                        </div>
                      </div>
                      <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>
          </section>
      </div>
    </div>
</section>