@import "../../../../assets/css/variables";

.address-name{
    position:relative; top:-3px; font-weight: bold;
}

input{
    width: 100%;
    font-size: 14px !important;
    border-color: #e7e9ed;
    font-family: $uboxit-font;
}
.bar{
    width: 100%;
}
.group label{ 
font-size: 13px !important;  font-family: $uboxit-font;
}
input:focus ~ label{
    top:-10px;
    
}
input.input-color.uboxit-mobile-prefix-elem-tel:focus ~label {
    top:-10px;
}
.group{
    margin-bottom: 20px;
}

.map {
  width:100%;
  height:400px;
  margin-bottom: 46px;
}

.bar:before, .bar:after{
    background:  $uboxit-primary-color;
}
.addressNewFormInner{
    padding: 20px;
}

.toast.toast-error.space{
    margin-top:-19px; margin-bottom: 20px;
}
.toast.toast-error.space1{
    margin-top:-19px; margin-bottom: 20px;
}

//new
/deep/.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:$uboxit-primary-color;
}
/deep/.mat-radio-label-content{
    font-family: $uboxit-font;
}

/deep/.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:$uboxit-primary-color;
}
.radioDiv{
    padding:10px;
    @include breakpoint(smart-phone){
    padding:20px;
    }
}
.showSelectedRadio{
    transition: visibility 0s, opacity 0.5s linear;

}
.showSelectedRadio > address{
    font-family: $uboxit-font;
    background:$uboxit-background-color;
    margin-left: 36px;
    margin-right: 36px;
    padding: 10px;
    border-left: 5px solid $uboxit-primary-color;
}
.addressfields{
    padding:36px;
    padding-bottom: 0px;
}
.group input{
    background: #fff;
}
.actionRow{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 8px 16px 24px;
   
}

.actionRowChkBox{
    border-top-style: solid;
    border-top-width: 1px;
     border-top-color:rgba(0,0,0,.12);
     padding: 10px;
}
.actionRowChkBox a:hover {
    text-decoration: underline
}
.uboxit-mobile-prefix{
    position: relative;
}
.uboxit-mobile-prefix-elem{
    position: absolute; top: 10px; left:5px;
}
.uboxit-mobile-prefix-elem-tel{
    padding-left: 30px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
:host /deep/ .gen-layout.terms {
    display: none;
}
:host /deep/ .gen-layout.privacy{
    display: none;
}
:host /deep/ h2 {
    font-size:1.1em; font-weight: bold;
}