

<section class="">
    <div>
        <mat-radio-group [(ngModel)]="valueSelcted">

            <div class="radioDiv"><mat-radio-button value="2"(change)="selectDeliveryMode($event.value)">Add your Delivery Address</mat-radio-button></div>
            <div *ngIf="valueSelcted == 2" class="">
                <div class="addressNewForm">
                    <form autocomplete="off">
                    <div class="addressNewFormInner">
                      <div class="group">
                        <input type="text"id="fname" required name="fname" [(ngModel)]="userModel.name" #fname="ngModel"  pattern="^[A-Za-z ]*$">
                        <span class="highlight"></span>
                        <span class="bar"></span><label>Name</label>
                      </div>
                        <!-- Validation Name-->
                        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="toast toast-error space">
                            <div *ngIf="fname.errors.required">Name is required.</div>
                            <div *ngIf="fname.errors.pattern">Name is invalid.</div>
                        </div>
                          <!-- Validation End Name -->
                      <div class="group">
                        <input type="text" id="postcode" required name="postcode" [(ngModel)]="addressModel.postalCode"  minlength="6" #postcode="ngModel" pattern="[A-Za-z\d\- ]*$">
                        <span class="highlight"></span>
                        <span class="bar"></span><label>Postcode</label>
                      </div>
                         <!-- Validation PostCode-->
                         <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="toast toast-error space1">
                            <div *ngIf="postcode.errors.required">Postcode is required. </div>
                            <div *ngIf="postcode.errors.pattern">Invalid Postcode </div>
                            <div *ngIf="postcode.errors.minlength">PostCode must be at least 6 characters long.</div>
                        </div>
                          <!-- Validation End PostCode -->
                      <div class="group">
                          <table style="width:100%">
                            <tr>
                              <td>
                                <div class="group">
                                  <input type="text" required name="housenumber" [(ngModel)]="addressModel.houseNumber" #housenumber="ngModel" pattern="[A-Za-z\d\- ]*$">
                                  <span class="highlight"></span>
                                  <span class="bar"></span><label>House Number</label>
                                </div>
                                  <!-- Validation House Number-->
                                  <div *ngIf="housenumber.invalid && (housenumber.dirty || housenumber.touched)" class="toast toast-error space1">
                                  <div *ngIf="housenumber.errors.required">House Number is required. </div>
                                  <div *ngIf="housenumber.errors.pattern">House Number is invalid. </div>
                                   </div>
                                  <!-- Validation End House Number-->
                              </td>
                              <td>
                                <div class="group">
                                  <input type="text" required name="streetname" [(ngModel)]="addressModel.street" #streetname="ngModel" pattern="[A-Za-z\d_\- ,]*$">
                                  <span class="highlight"></span>
                                  <span class="bar"></span><label>Street Name</label>
                                </div>
                                <!-- Validation Street Name-->
                                <div *ngIf="streetname.invalid && (streetname.dirty || streetname.touched)" class="toast toast-error space1">
                                    <div *ngIf="streetname.errors.required">Street Name is required. </div>
                                    <div *ngIf="streetname.errors.pattern">Street Name is invalid. </div>
                                </div>
                                <!-- Validation End Street Name -->
                              </td>
                            </tr>
                          </table>
                        </div>
                      <div class="group">
                          <table style="width:100%">
                              <tr>
                                <td>
                                    <div class="group">
                                    <input type="text" required name="cityarea" [(ngModel)]="addressModel.area" #cityname="ngModel" pattern="[A-Za-z\d_\- ,]*$">
                                    <span class="highlight"></span>
                                    <span class="bar"></span><label>City/Area</label>
                                    </div>
                                     <!-- Validation Street Name-->
                                      <div *ngIf="cityname.invalid && (cityname.dirty || cityname.touched)" class="toast toast-error space1">
                                        <div *ngIf="cityname.errors.required">City/Area is required. </div>
                                        <div *ngIf="cityname.errors.pattern">City/Area is invalid. </div>
                                      </div>
                                <!-- Validation End Street Name -->
                                </td>
                                <td>
                                    <div class="group">
                                        <input type="text" required name="landMark" [(ngModel)]="addressModel.landMark" #landMark="ngModel" pattern="[A-Za-z\d\- ]*$">
                                        <span class="highlight"></span>
                                        <span class="bar"></span><label>Location/LandMark</label>
                                    </div>
                                  <!-- Validation landmark-->
                                  <div *ngIf="landMark.invalid && (landMark.dirty || landMark.touched)" class="toast toast-error space1">
                                    <div *ngIf="landMark.errors.required">Landmark is required. </div>
                                    <div *ngIf="landMark.errors.pattern">Landmark is invalid. </div>
                                  </div>
                                  <!-- Validation End landmar -->
                                  </td>
                                </tr>
                              </table>
                      </div>
                      <div class="group">
                        <span class="uboxit-mobile-prefix"><span class="uboxit-mobile-prefix-elem">+31</span></span>
                        <input  type="number" required name="phone" [(ngModel)]="userModel.phone" #phonenumber="ngModel" class="input-color uboxit-mobile-prefix-elem-tel" pattern=".*[^ ].*">
                        <span class="highlight"></span>
                        <span class="bar"></span ><label class="uboxit-mobile-prefix-label">Mobile Number</label>
                      </div>
                      <!-- Validation Phone Number-->
                      <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)" class="toast toast-error space1">
                          <div *ngIf="phonenumber.errors.required">Mobile Number is required.</div>
                          <div *ngIf="phonenumber.errors.pattern">Mobile Number is invalid.</div>
                      </div>
                      <!-- Validation End Phone Number -->

                      <div class="group">
                        <input type="email" id="email" required name="email" [(ngModel)]="userModel.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <span class="highlight"></span>
                        <span class="bar"></span><label>Email Address</label>
                      </div>
                       <!-- Validation Email-->
                       <div *ngIf="email.invalid && (email.dirty || email.touched)" class="toast toast-error space1">
                          <div *ngIf="email.errors.required">Email Name is required. </div>
                          <div *ngIf="email.errors.pattern">Email is Invalid</div>
                        </div>
                        <!-- Validation End Email -->

                    </div>
                  </form>

                  </div>
            </div>
               <div class="radioDiv"><mat-radio-button value="1" (change)="selectDeliveryMode($event.value)">Pick up at store</mat-radio-button></div>
            <div *ngIf="valueSelcted == 1" class="showSelectedRadio">
              <address (click)="loadMap()">
                Augustinuspark , 14. 1185CN, Amstelveen
                <button class="btn btn-link" ><i class="material-icons pulse" style="color:#FF655A">place</i></button>
              </address>
            <div class="addressfields">
              <div class="group map" [hidden]="!displayMap" #gmap></div>
              <div class="group">
                  <input type="text" required name="name" class="input-color" [(ngModel)]="userModel.name" #fname="ngModel" pattern="^[A-Za-z ]*$">
                  <span class="highlight"></span>
                  <span class="bar"></span><label>Enter your Name</label>
              </div>
                   <!-- Validation Name-->
                   <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="toast toast-error space">
                      <div *ngIf="fname.errors.required ">Name is required.</div>
                      <div *ngIf="fname.errors.pattern">Name is invalid.</div>
                  </div>
                    <!-- Validation End Name -->
              <div class="group">
                  <input type="email" id="email" required name="email" [(ngModel)]="userModel.email" #email="ngModel" class="input-color" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  <span class="highlight"></span>
                  <span class="bar"></span><label>Enter your Email Address</label>
              </div>
               <!-- Validation Email-->
               <div *ngIf="email.invalid && (email.dirty || email.touched)" class="toast toast-error space1">
                  <div *ngIf="email.errors.required">Email Name is required. </div>
                  <div *ngIf="email.errors.pattern">Email is Invalid</div>

                </div>
                <!-- Validation End Email -->
              <div class="group">
                  <span class="uboxit-mobile-prefix"><span class="uboxit-mobile-prefix-elem">+31</span></span>
                  <input  type="number" required name="phone" class="input-color uboxit-mobile-prefix-elem-tel" [(ngModel)]="userModel.phone" #phonenumber="ngModel" pattern=".*[^ ].*">
                  <span class="highlight"></span>
                  <span class="bar"></span><label class="uboxit-mobile-prefix-label">Enter your Mobile Number</label>
              </div>
              <!-- Validation Phone Number-->
              <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)" class="toast toast-error space1" >
                  <div *ngIf="phonenumber.errors.required">Mobile Number is required.</div>
                  <div *ngIf="phonenumber.errors.pattern">Mobile Number is invalid.</div>
              </div>
              <!-- Validation End Phone Number -->
            </div>
            </div>
          </mat-radio-group>
          <div class="actionRowChkBox">
            <div class="group remarks-area">
              <input type="text" name="remarks" [(ngModel)]="remarks" #rem="ngModel" class="input-color" pattern="^[A-Za-z\d_\- ,]*$">
              <span class="highlight"></span>
              <span class="bar"></span><label>Remarks if any</label>
            </div>
            <!-- Validation Email-->
            <div *ngIf="rem.invalid && (rem.dirty || rem.touched)" class="toast toast-error space1">
              <div *ngIf="rem.errors.pattern">Invalid remarks</div>
            </div>
            <div class="group remarks-area">
              <input type="time"  name="remarks" class="input-color" atp-time-picker arrowStyle="{'background': '#FF655A'}" [(ngModel)]="deliveryPickUpTime" #deliveryTime="ngModel"
                     placeholder="HH:MM AM/PM">
              <span class="highlight"></span>
              <span class="bar"></span><label>Delivery or Pickup time</label>
            </div>
          </div>
          <div class="actionRowChkBox">
            <!-- CheckBox -->
            <mat-checkbox [(ngModel)]="userModel.checked" ></mat-checkbox>

            I agree
            <span *ngIf="!showMobile"routerLinkActive="active"><a href="/terms" [routerLink]="['/terms']" >Terms &amp; Conditions </a></span>
            <span *ngIf="showMobile"><a (click)="onSelect('terms'); active = true">Terms &amp; Conditions </a></span>
            and
            <span *ngIf="!showMobile" routerLinkActive="active"><a href="/Privacy" [routerLink]="['/privacy']">Privacy Policies.</a></span>
            <span *ngIf="showMobile"><a (click)="onSelect('privacy'); active = true">Privacy Policies.</a></span>
            We have updated our
            <span *ngIf="!showMobile"routerLinkActive="active"><a href="/terms" [routerLink]="['/terms']" >Terms</a></span>
            <span *ngIf="showMobile"><a (click)="onSelect('terms'); active = true">Terms</a></span>
            and
            <span *ngIf="!showMobile" routerLinkActive="active"><a href="/Privacy" [routerLink]="['/privacy']">Privacy </a></span>
            <span *ngIf="showMobile"><a (click)="onSelect('privacy'); active = true">Privacy</a></span>
            Policies to comply with General Data Protection Regulation.
          </div>
          <div class="actionRow">
          <div class="float-right">
                <button *ngIf="valueSelcted == 2" class="btn btn-primary" [ngClass]="{'disabled':!(userModel.checked && userModel.email && userModel.phone && userModel.name && addressModel.area && addressModel.houseNumber && addressModel.street && addressModel.postalCode)}" (click)="addAddress()">Go to Payment</button>
                <button *ngIf="valueSelcted == 1" class="btn btn-primary" [ngClass]="{'disabled':!(userModel.checked && userModel.email && userModel.phone && userModel.name)}" (click)="addAddress()">Go to Payment</button>
          </div>
          <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- Model Window Start -->
<div [ngClass]="{'modal':true, 'active':active}"  >
  <div class="modal-overlay" appModelCloseOnOverlay (modelClose)="modelclose($event)"></div>
  <div class="modal-container">
        <div class="uboxit-m-close-btn c-hand" (click)="close();"><i class="material-icons">close</i></div>
        <div class="uboxit-m-body">
              <div class="uboxit-m-desc">
                  <div class="content" style="height:450px; overflow-y:scroll" >
                        <app-terms *ngIf="showTerms"></app-terms>
                        <app-privacy *ngIf="showPrivacy"></app-privacy>
                  </div>
              </div>
        </div> <!-- Section Content End -->

  </div>
</div>


