<div class="uboxitwrapper">
        <div class="uboxitheader">
            <app-header></app-header>
        </div><!--//.uboxitheader -->
        <div class="uboxitcontent">
            <div style="height:1000px;">
               <app-banner></app-banner>
               <app-bar-menu></app-bar-menu>
            </div>
        </div> <!--//.uboxitcontent -->
        <div class="uboxitfooter">
            <app-footer></app-footer>
        </div> <!--//.uboxitfooter -->
</div> <!-- //.uboxitwrapper -->



