@import "../assets/css/variables";
.uboxitBanner{
  padding-top:61px;
}

.uboxit-m-home{
  background: url(../assets/images/mobile_bg.jpg) no-repeat ;
  //background: $uboxit-primary-color;
  height: 50vh;
  background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; 
    //box-shadow: inset 3px 3px 10px 0 #000000;
    box-shadow:inset 0 7000px 9000px -7000px rgba(255, 101, 90, 1)
}
.uboxit-m-home::before{
  
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    cursor: default; height: 50vh;
    //z-index: ;
    box-shadow:0 20px 50px -20px rgba(255, 101, 90, 0.7);
}
.uboxit-m-logo { padding-top:20px;height: 152px; width: 100%; text-align: center; position: relative }
.uboxit-m-logo-txt { color:#fff; height: 20px; font-family: $uboxit-font; text-align: center; position: relative}
.uboxit-content{ height:85vh; width: 100%; position: relative;
    @include breakpoint(ExtraSmallMobile){
       height:80vh; 
    }
    @include breakpoint(ExtraLargeMobile){
       height: 82vh;
     }
    @include breakpoint(MediumDevice){
        height: 85vh;
     }
    
}
.uboxit-m-footer { position: fixed; height: 80px; width: 100%; 
  //border-top:1px solid $uboxit-primary-color; 
  bottom: 0px;
  color:#fff;
  text-align: center; padding-top:10px;  
   //box-shadow: inset 0px 11px 8px -10px $uboxit-primary-color; 
  background:$uboxit-footer-bg; padding-bottom: 10px;
}


.banner-outer{
  height:400px; width:100%; display:flex; justify-content:center; overflow:hidden;
  @include breakpoint(ExtraSmallMobile){
     height:auto;  margin-top:0px;
  }
  @include breakpoint(ExtraLargeMobile){
      height: 240px;  margin-top:0px;
   }
  @include breakpoint(MediumDevice){
      height: 364px;  margin-top:0px;
   }
   @include breakpoint(LargeDevice){
      height: 390px;  margin-top:0px;
   }
   @include breakpoint(ExtraDevice){
      height:400px; margin:20px 0px 20px 0px;
   }
}
.banner-inner{ 
  width:1140px; 
}
.banner img {
  max-width: 100%;
  max-height: 100%;
}



.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
  display: none !important;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
  display: none !important;
}

.uboxit-m-avert-cont { xpadding: 40px; }
.uboxit-m-container-1 { padding: 40px 40px 0px 40px}
.uboxit-m-container-1 h2, .uboxit-m-container-1 p{
  color:#efefef
}
.uboxit-m-container-2 { padding: 10px 0px 40px 40px; }
.uboxit-m-advert-title { font-family: $uboxit-font; font-size: 15px; color:#2a2a2a; margin-bottom: 10px; padding-top: 20px;}
.uboxit-m-advert-ban1 { position: relative; width: 100%; padding-top: 55.5%;}
.uboxit-m-ban-inner { position:  absolute;  top: 0; left: 0;bottom: 0; right: 0; text-align: center; font-size: 20px;
 color: white;

}
.uboxit-scroll{
  position: relative; width: 100%; padding-top: 55.5%;
  background: url(../assets/images/combo.jpg) no-repeat ;
   background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; 
}
.uboxit-scroll::before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.4);
    padding: 25px;
    cursor: default; 
   
}
.uboxit-scroll > div{
  position:  absolute;  top: 20px; left: 0;bottom: 0; right: 0; text-align: center; font-size: 15px;
  color:#fff
 
}
.uboxit-scroll > div > i {
  font-size:50px; color:#fff
}
.ubooxit-scroll-txt{background: #000; height: 30px; position: absolute; bottom: 0px;}
.tile{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}