<section class="uboxitwrapper">

    <!-- <section stickyHeader (stickyHeaderValue) = "stickyHeaderValue($event)" id="uboxitTopHeader" class="uboxitTopHeader" [ngClass]="{'headerFixed':headerFixed}">
           <app-header></app-header>
    </section> -->
    <app-header></app-header>
    <section class="uboxitRouter">
    <router-outlet>
                
   </router-outlet>
    </section>
    <section class="uboxitFooter">
        <app-footer></app-footer>
    </section>
</section> <!-- //.uboxitwrapper -->
