@import "../assets/css/variables";
.uboxitBanner{
  padding-top:61px;
}
.uboxit-m-home{
  background: url(../assets/images/MobileBg.jpg) no-repeat ;
  height: 100vh;
  background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; 
}
.uboxit-m-logo { padding-top:20px;height: 100px; width: 100%; text-align: center; }
.uboxit-m-logo-txt { color: #fff; height: 20px; font-family: $uboxit-font; text-align: center;}
.uboxit-content{ height:85vh; width: 100%; position: relative;
    @include breakpoint(ExtraSmallMobile){
       height:80vh; 
    }
    @include breakpoint(ExtraLargeMobile){
       height: 82vh;
     }
    @include breakpoint(MediumDevice){
        height: 85vh;
     }
    
}
.uboxit-m-footer { position: absolute; height: 70px; width: 100%; border-top:1px solid $uboxit-primary-color; bottom: 0px;
   color:#2a2a2a;
   text-align: center; padding-top:10px;  box-shadow: inset 0px 11px 8px -10px $uboxit-primary-color;
}