<p>
  makeyourcombo works! <br/><br/>
</p>
<section>
    <div class="container grid-lg">
    <div class="container">
        <div class="columns">
          <div class="column col-xs-3"><div class="bg-primary text-light rounded centered pt-2"><i class="material-icons">room_service</i></div></div>
          <div class="column col-xs-3"><div class="bg-primary text-light rounded centered pt-2"><i class="material-icons">room_service</i></div></div>
          <div class="column col-xs-3"><div class="bg-primary text-light rounded centered pt-2"><i class="material-icons">room_service</i></div></div>
        </div>
      </div>
    </div>
</section>
<section><app-offers></app-offers></section>
