<div style="margin-top:50px;">
<section style="background:#f7f7f7; margin-bottom:5px; border-bottom:1px solid #ccc;" stickyHeader (stickyHeaderValue) = "stickyHeaderValue($event)" [ngClass]="{'uboxitMenuInMakeCombo':uboxitMenu}">
       <!--Menu -->
       <app-bar-menu></app-bar-menu>
       <!-- // Menu End -->
</section>

<section [ngClass]="{'uboxitMenuInMakeComboSelect':uboxitMenu}">

    <div class="container grid-lg">
    <div class="container">
        <section style="text-align:center;">
            <p>Cook up your own Combo using our virtual kitchen!</p>
          </section>
      <div class="columns" >
       
          <div class="column col-xs-4 relative"><div (click)="starterPress();"  class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox ubboxitBoxAfter uboxitBoxTitle"  [ngClass]="{'uboxitBoxactive':isActiveStarter}">{{starters}}</div></div>
          <div class="column col-xs-4 relative"><div (click)="mainDishPress();" class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox ubboxitBoxAfter uboxitBoxTitle"  [ngClass]="{'uboxitBoxactive':isActiveMainDish}">{{mainDish}}</div></div>
          <div class="column col-xs-4 relative"><div (click)="dessertPress();"  class="bg-primary text-light rounded centered pt-2 c-hand uboxitBox uboxitBoxTitle uboxitBoxactive"  [ngClass]="{'uboxitBoxactive':isActiveDessert}">{{dessert}}</div></div>

      </div>
      <div *ngIf="showButton" style="margin:10px;"><button class="btn btn-primary" style="width:100%">Add to Cart</button></div>
      </div>
    </div>
</section>
<section>
        <!-- Offer Area -->
             <app-makeyourcombo-offer></app-makeyourcombo-offer>
         <!-- Offer Area End -->

</section>
</div>
