<div class="container grid-lg">
    <div class="column" style="padding-top:10px;">
        <div *ngIf="msgFromMakeYourOwnCombo">
             <div class="uboxit-content">
                <!-- Content Start -->
                <div class="uboxit-row">
                    <div class="uboxit-column" *ngFor="let starter of starters">
                        <div class="uboxit-card">
                            <div class="uboxit-card-flex">
                                <div class="uboxit-card-flex-left"> <img src="{{starter.image}}" onError="this.src='assets/images/no_image.png'" [class.selected]="offer === selectedOffer"/></div>
                                <div class="uboxit-card-flex-right">
                                    <div class="uboxit-card-flex-head"> 
                                        <div class="uboxit-card-title">{{starter.title}}</div>
                                    </div>
                                    <div class="uboxit-card-content"> 
                                        <img *ngIf="starter.dietType === DietType.Veg" src="../../assets/images/veg.png" class="veg"/>
                                        <span class="chip">{{starter.category}}</span>
                                    </div>
                                    <div class="uboxit-card-footer">
                                        <div class="uboxit-card-footer-euro">
                                             <span *ngIf="starter.discountedPrice"><s>&euro;{{starter.normalPrice}}</s>&nbsp;&euro;{{starter.discountedPrice}}</span>
                                             <span *ngIf="!starter.discountedPrice">&euro;{{starter.normalPrice}}</span>
                                        </div>
                                        <div class="uboxit-card-footer-btn ">
                                                <div class="tinycardBtn"><button class="btn btn-primary" (click)="onselectedStarter(starter.id)">Add to Combo</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content End -->
            </div> <!-- Main Course -->
        </div>
    </div>
</div>