@import "../../../assets/css/variables";
.shoppingLayout{
xpadding-top: 60px;

}
.card-dummy {
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color:#fff;
    margin:20px 20px 20px 20px;
    font-family: $uboxit-font;
    @include breakpoint(smart-phone){
      margin-top:20px;
      margin:20px 0px 0px 0px;
  } 
  
  }

.shop-layout{
    padding: 0px;
    width:100%;
 }
 .shop-inner{
     display: flex;
     flex-wrap: wrap;
     @include breakpoint(smart-phone){
        flex-direction: column;
    } 
 }
 .shop-left{
     width:60%; 
     @include breakpoint(smart-phone){
        width:100%;  
        order:2;
    } 
 }
 .shop-right{
    width:40%; 
    @include breakpoint(smart-phone){
        width:100%;  
        order:1;
    }
 }



.uboxit-expansion{
    width: 100%;
    margin: 10px 20px;
}
.mat-expansion-panel-header{
    border-bottom: 1px solid #ccc;
    font-family:  'Open Sans', sans-serif;
    background-color:$uboxit-primary-color;
    
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']){
    background-color:lighten( $uboxit-primary-color, 10% )
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background:$uboxit-primary-color;
}
.mat-expansion-panel-body{
    margin: 0px 0px 0px 0px !important;
    overflow: hidden;
}
/deep/ .addressPanel .mat-expansion-panel-body {
    padding: 0;
    margin: 0px;
}
md-panel-title{
    color: #fff;
    font-size: bold;
}
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.orderedItemLayout{
    margin:0px;
    padding-top:10px;
}
mat-expansion-panel-header{
    height: 50px !important;
   
}
mat-panel-title{
    color: #fff ;
  
}
.secure3d{
    color: #000;
}
.secure3dTxt{
    line-height:42px;
    vertical-align:text-bottom;
}
@media only screen and (max-width: 480px) {
    .uboxit-expansion{
        width: 100%;
        margin: 10px 10px;
    }
    .orderedItemLayout{
        margin: 0 -24px -16px;
        padding-bottom: 10px;
    }
  
}