<section class="shoppingLayout">
  <div class="container grid-lg">
    <div class="columns">
      <!-- Shop Layout Start -->
      <div class="shop-layout">
          <div class="shop-inner">
              <div class="shop-left">
                  <mat-accordion class="example-headers-align uboxit-expansion">

                      <!-- items -->
                      <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>My Cart</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="orderedItemLayout">

                        </div>

                        <mat-action-row>
                          <button class="btn" (click)="linkToHomePage()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Continue
                            Shopping
                          </button>&nbsp;
                          <button class="btn btn-primary" (click)="loginEnabled ? nextStep() : forwardWithoutLoginStep()">Place Order</button>
                        </mat-action-row>
                      </mat-expansion-panel> -->

                      <!-- login -->
                      <mat-expansion-panel *ngIf="loginEnabled && !loggedIn" [expanded]="step === 0" (opened)="setStep(0)"
                                           hideToggle="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Login or SignUp</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                          <app-personal></app-personal>
                        </div>
                        <mat-action-row>
                          <button class="btn" (click)="prevStep()">Previous</button>&nbsp;
                        </mat-action-row>
                      </mat-expansion-panel>

                      <!-- logged in user -->
                      <mat-expansion-panel *ngIf="loginEnabled && loggedIn" [expanded]="step === 0" (opened)="setStep(0)"
                                           hideToggle="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Welcome Customer1036!</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                          <app-myinfo></app-myinfo>
                        </div>
                        <mat-action-row>
                          <button class="btn" (click)="prevStep()">Previous</button>&nbsp;
                          <button class="btn btn-primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>

                      <!-- address -->
                      <mat-expansion-panel [disabled]="loginEnabled && !loggedIn" [expanded]="step === 0" (opened)="setStep(0)"
                                           hideToggle="true" class="addressPanel">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Address</mat-panel-title>

                        </mat-expansion-panel-header>

                        <div>
                          <app-address
                            (existingAddressSelected)="displayActionRowForAddress = true;"
                            (newAddressSelected)="displayActionRowForAddress = false;"
                            (addressUpdated)="nextStep()"
                            (previousStepRequested)="loginEnabled ? prevStep() : backwardWithoutLoginStep()"></app-address>
                        </div>

                        <!-- <mat-action-row *ngIf="displayActionRowForAddress">
                          <button class="btn btn-primary" (click)="loginEnabled ? prevStep() : backwardWithoutLoginStep()">Previous</button>&nbsp;
                          <button class="btn btn-primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                      </mat-expansion-panel>

                      <!-- payment -->
                      <mat-expansion-panel [disabled]="(loginEnabled && !loggedIn) || !isValidForPayment()" [expanded]="step === 1" (opened)="setStep(1)"
                                           hideToggle="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Payment Options</mat-panel-title>

                        </mat-expansion-panel-header>

                        <app-payment *ngIf="step === 1" [cart]="cart" (payOnDelivery)="payOnDelivery($event)"></app-payment>


                        <mat-action-row>
                          <mat-panel-title>
                            <div class="secure3d"><span class="secure3dTxt">Payment secured by : </span><img
                              src="../assets/images/3dsecure.png" height="40px"/></div>
                          </mat-panel-title>

                          <button *ngIf="paymentOnDelivery" class="btn btn-primary" routerLinkActive="active" (click)="navigateToFinish()">Order now</button>

                        </mat-action-row>
                      </mat-expansion-panel>

                    </mat-accordion>

              </div>
              <div class="shop-right">
                  <div class="card-dummy">
                  <app-ordered-items [showCheckout]="false" [showContinueShopping]="true"></app-ordered-items>
                 </div>
              </div>
          </div>
      </div>
      <!-- Shop Layout End -->

    </div>
  </div>

</section>
