<div class="container grid-lg"> 
<div class="column">
      <div (click)="onselectedValue(1)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">1</div>
      <div (click)="onselectedValue(2)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">2</div>
      <div (click)="onselectedValue(3)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">3</div>
      <div (click)="onselectedValue(4)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">4</div>
      <div (click)="onselectedValue(5)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">5</div>
      <div (click)="onselectedValue(6)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">6</div>
      <div (click)="onselectedValue(7)" style="border:1px solid #ccc; padding:10px; background:#ddd; margin:5px 0px;">7</div>
</div>
</div>