<div class="UboxitLayout">
        <div class="container grid-lg">
                <div class="columns">
                    
                  <mat-accordion class="example-headers-align uboxit-expansion">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Personal Information</mat-panel-title>
                      </mat-expansion-panel-header>
                      <div><app-personal></app-personal></div>
                      <mat-action-row>
                        <button class="btn" (click)="linkToHomePage()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Continue
                          Shopping
                        </button>&nbsp;
                        <button class="btn btn-primary" (click)="nextStep()">Place Order</button>
                      </mat-action-row>
                    </mat-expansion-panel>     
                                       
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Manage Address</mat-panel-title>
                      </mat-expansion-panel-header>
                     <div><app-address></app-address></div>
                      <mat-action-row>
                        <button class="btn" (click)="linkToHomePage()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Continue
                          Shopping
                        </button>&nbsp;
                        <button class="btn btn-primary" (click)="nextStep()">Place Order</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>My Reward</mat-panel-title>
                      </mat-expansion-panel-header>
                     <div><app-reward-program></app-reward-program></div>
                      <mat-action-row>
                        <button class="btn" (click)="linkToHomePage()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Continue
                          Shopping
                        </button>&nbsp;
                        <button class="btn btn-primary" (click)="nextStep()">Place Order</button>
                      </mat-action-row>
                    </mat-expansion-panel>

                  </mat-accordion>
            
                </div>
</div>

