

<div class="container grid-lg"> 
<div class="column" style="padding:0px;">
    
    <div class="menudes uboxitMenuDesktop">
    
        <a href="">SOUTH INDIAN</a>
        <a href="">MAINS AND SIDES</a>
        <a href="">HALL OF FAME</a>
        <a href="">PIZZAS</a>
        <a href="">PIZZAS</a>
    <div class="marca"></div>
    </div>
    <div class="uboxitMenuMobile">
        <div class="m-1"></div>
         <select name="cars" class="uboxitSelect">
            <option value="volvo" selected>SOUTH INDIAN</option>
            <option value="saab">MAINS AND SIDES</option>
            <option value="fiat" >HALL OF FAME</option>
            <option value="audi">PIZZAS</option>
    </select>

    </div>
</div>
</div>
