
<div class="container grid-lg uboxitMenuContainer"> 
<div class="column uboxitMenuColumn">
    <div>
        <div class="float-left uboxitMenuFirst uboxitMenuActive c-hand" routerLink="/home" routerLinkActive="active"><span  class="hide-xs">Available Combo</span><span class="show-xs uboxitMenuFilterIcon"><i class="material-icons">restaurant_menu</i></span></div>
        <div class="float-left uboxitMenuSecond c-hand"  routerLink="/makeyourcombo" routerLinkActive="active" ><span class="hide-xs">Make your own Combo</span><span class="show-xs uboxitMenuFilterIcon"><i class="material-icons">restaurant</i></span></div>
        <div class="dropdown dropdown-right float-right uboxitMenuFilter c-hand">
            <div class="uboxitMenuFilterIcon">
            
              <a class="dropdown-toggle" tabindex="0">
                <i class="material-icons">filter_list</i>
              </a>
          
              <!-- menu component -->
              <ul class="menu">
                <li><a href="">SOUTH INDIAN</a></li>
                <li><a href="">MAINS AND SIDES</a></li>
                <li><a href="">HALL OF FAME</a></li>
                <li><a href="">PIZZAS</a></li>
                <li><a href="">PIZZAS</a></li>
              </ul>
            </div>
          </div>
    </div>
    <div class="clearfix"></div>
</div>
</div>
