

<div class="container grid-xl "> 
<div class="column" style="padding:0px;">
    <div class="menudes uboxitMenuDesktop">
        <a href="">SOUTH INDIAN</a>
        <a href="">MAINS AND SIDES</a>
        <a href="">HALL OF FAME</a>
        <a href="">PIZZAS</a>
        <a href="">PIZZAS</a>
    <div class="marca"></div>
    </div>
    <div class="uboxitMenuMobile">
        <div class="dropdown">
        <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">dropdown menu <i class="icon icon-caret"></i></a>
        <!-- menu component -->
        <ul class="menu">
            <li><a href="">SOUTH INDIAN</a></li>
            <li><a href="">MAINS AND SIDES</a></li>
            <li><a href="">HALL OF FAME</a></li>
            <li><a href="">PIZZAS</a></li>
            <li><a href="">PIZZAS</a></li>
        </ul>
</div>

    </div>
</div>
</div>
