.uboxitMenuContainer{
    border-left:1px solid #ccc; border-right:1px solid #ccc; padding:0;
}
.uboxitMenuColumn{
    padding: 0;
}
.uboxitMenuFirst{
    border-right:1px solid #ccc;  padding:0px 20px; width:45%; line-height:40px; text-align:center; 
}

.uboxitMenuSecond{
    padding:0px 20px;  width:45%; line-height:40px; text-align:center; border-right:1px solid #ccc; 
}
.uboxitMenuFirst:hover, .uboxitMenuSecond:hover, .uboxitMenuFilter:hover{
    color: #ff675c;
    background: #fff;
}
.uboxitMenuFilter{
     width:10%; line-height:40px;
}
.anchorFixedSize{
    width: 100%;
    display: inline-block;
}
.uboxitMenuFilterIcon{
    text-align: center;
    position: relative;
    top: 6px;
    
}
.uboxitMenuFilterIcon a {
    color:#000;
}
.uboxitMenuFilterIcon a:hover{
    color: #ff675c;
}
.uboxitMenuActive{
    background: #fff;
    color: #ff675c;
}

@media only screen and (max-width: 480px) {
    .uboxitMenuContainer{
        border:0px;
    }
    .uboxitMenuSecond{
        width: 40%;
    }
    .uboxitMenuFirst{
        width: 40%;
    }
    .uboxitMenuFilter{ 
        width: 20%;
    }   
 
}