 /* You can add global styles to this file, and also import other style files */
/* Major Colors are noted Header - #ff675c and Gray - f7f7f7 */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
a:focus, button:focus, div:focus{
  outline: 0;
  box-shadow:none !important;
}

.uboxitTopHeader{ position: fixed;  z-index: 291 ; top:0px; height: 50px; width:100%; xbox-shadow:0 2px 5px 0 rgba(0,0,0,.3);  background:#FF655A; xbackground:rgba(255,101,90, 0.6); border-bottom:1px solid #ff675c }
.headerFixed{ background:#FF655A!important; box-shadow:0 2px 5px 0 rgba(0,0,0,.3);}
.headerFixedShoppingCard { background:#FF655A!important; box-shadow:none;}



.btn.btn-link.uboxitLink, .btn.btn-link.uboxitLink:hover, .btn.btn-link.uboxitLink:active{  color:#5755d9;   }

.modal-container .modal-header{ padding-bottom: 0px; }
.btn.btn-clear:hover{ color: #FF655A;   }
.btn:focus{ box-shadow:none;  }
.btn.btn-link{ color:#fff;   }
.badge:not([data-badge])::after, .badge[data-badge]::after{ color:#FF655A;  background: #fff;   }


s{ color:#ccc; font-size: 15px; font-size: normal;}
  /*spectre override*/
 
  .body-overflow {
      overflow-x: hidden !important;
      position: fixed;
      width: 100%;
  }
  body::-webkit-scrollbar-thumb{
      background: #ccc;
     
      outline: 1px solid #333
  }
  body::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3)
  }
  .loading::after{
    
    animation: loading .5s infinite linear;
    border: .1rem solid #FF655A;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
  }

  
  .form-input:focus {
    border-color: #FF655A;
    box-shadow: 0 0 0 0.1rem rgba(255,101,90,.2);
}
.tab .tab-item a.active, .tab .tab-item.active a{
  border-bottom-color:#FF655A;
  color:#FF655A;
}
  /*spectre override*/

  
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */


/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  xwidth:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px;  height: 0px;}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}



.paddingBlock {
  xpadding: 20px 0;
}

.eqWrap {
  display: flex;
}

.eq {
  xpadding: 10px;
}



.equalHW {
  flex: 1;
}

.equalHMWrap {
  justify-content: space-between;
}

.equalHM {
  width: 32%;
}

.equalHMRWrap {
  justify-content: space-between;
  flex-wrap: wrap;
}

.equalHMR {
  width: 32%;
  margin-bottom: 2%;
}

.equalHMVWrap {
  flex-wrap: wrap;
}

.equalHMV {
  width: 32%;
  margin: 1%;
}

.equalHMV:nth-of-type(3n) {
  margin-right: 0;
}

.equalHMV:nth-of-type(3n+1) {
  margin-left: 0;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
	.equalHMV { width:100% !important; margin: 1%; }
 
}

