/* You can add global styles to this file, and also import other style files */
/* Major Colors are noted Header - #ff675c and Gray - f7f7f7 */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {  height: 100%;  margin: 0; font-family: 'Open Sans', sans-serif; }
  .uboxitwrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .uboxitheader {
    background: #ff675c;
  }
  .uboxitfooter {
     background: #f7f7f7;
     height: 70px;
     border-top:1px solid #ccc;
  }
  .uboxitcontent {
    flex: 1;
    overflow: auto;
    background: #ededed;
  }

.bg-primary {
    background: #ff675c;
    box-shadow:0px 0px 1px 1px rgba(255, 103, 92, 0.14);
}
.btn{
     background: #ff675c;
    box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.14);
    border:0;
    color: #fff;
   
}
.btn.btn-action{
 padding: 0.3rem;
 height: auto; width: auto;
}
.btn:focus, .btn:hover{
    background: none;
    border-color: #ff675c;
    text-decoration: none;
     box-shadow:0px 0px 1px 1px rgba(255, 255, 2555, 1);
}
xhtml,xbody{   margin: 0; font-family: 'Open Sans', sans-serif; height: 100%;}
    .uboxitWrapper{  display: flex; flex-direction: column; height: 100%;}
    .uboxitContainer{  flex: 1; overflow: auto; margin: 0 auto;}
    .ubboxitHeader, .uboxitFooter { background: #ff675c;}

    .ubboxitHeader { padding-top:20px; height:50px; background: #ff675c;  width: 100%; position: fixed; top:0px; left: 0px; z-index: 90;}
    .headerFixed{  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084); }
    .uboxitMenu{ position: fixed; top:70px; z-index: 110; height: 50px; width:1170px; background-color: #f7f7f7;
    }
    .uboxitFooter{height:50px; background: #f7f7f7; }
    .uboxitClear{ clear: both}
    .uboxitRight{float:right; display: inline;}
    
    /*Header Style*/
    .uboxitHeaderDesktopMenu { display: block; }
    .uboxitHeaderMobileMenu  { display: none; }

    @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
        .uboxitContainer, .uboxitHeaderContainer{width: 100%;}
        .uboxitHeaderDesktopMenu { display: none; }
        .uboxitHeaderMobileMenu  { display: block; }
       
    }
    @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
        .uboxitContainer, .uboxitHeaderContainer{width: 100%;}
        .uboxitHeaderDesktopMenu { display: none; }
        .uboxitHeaderMobileMenu  { display: block; }
    }
    @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        .uboxitContainer, .uboxitHeaderContainer{width: 600px;}
        .uboxitHeaderDesktopMenu { display: block; }
        .uboxitHeaderMobileMenu  { display: none; }
    }
    @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
        .uboxitContainer, .uboxitHeaderContainer{width: 750px;}
        .uboxitHeaderDesktopMenu { display: block; }
        .uboxitHeaderMobileMenu  { display: none; }
    }
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
        .uboxitContainer, .uboxitHeaderContainer{width: 970px;}
        .uboxitHeaderDesktopMenu { display: block; }
        .uboxitHeaderMobileMenu  { display: none; }
    }
    @media (min-width:1281px) { /* hi-res laptops and desktops */
        .uboxitContainer, .uboxitHeaderContainer{width: 1170px;}
        .uboxitHeaderDesktopMenu { display: block; }
        .uboxitHeaderMobileMenu  { display: none; }
    }

    .mat-tab-header-pagination-before .mat-tab-header-pagination-chevron, .mat-tab-header-rtl .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron{
        border-color: #ff675c !important;
    }
    .mat-tab-header-pagination-chevron{
        border-color: #ff675c !important;
    }
    .mat-tab-nav-bar, .mat-tab-header{
        border-bottom: none!important;
    }
    .mat-tab-label, .mat-tab-link{
        color:rgba(0,0,0,1) !important;
        font-family: 'Open Sans', sans-serif !important;
    }

    .md-grid-tile {
        background: lightblue;
      }
      