
@import "assets/css/variables";


// *End Media Queries

html, body {  margin: 0; font-family: $uboxit-font; color:$uboxit-black-color; background:$uboxit-background-color}
body::-webkit-scrollbar{  width: 6px; height: 6px; } //scrollbar 

//Button Start 
.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover{  color:$uboxit-white;  }
.btn.btn-primary{ background:$uboxit-primary-color; border-color:$uboxit-primary-color;  }
.btn.btn-primary:focus, .btn.btn-primary:hover{ background:lighten($uboxit-primary-color, 10%); border-color:lighten($uboxit-primary-color, 10%)   }
.btn.btn-clear { color:$uboxit-primary-color; opacity: 1;}
.btn.btn-clear.uboxitLogo { color:$uboxit-white;}
.uboxitBoxactive { background:$uboxit-primary-color; }
.btn.btn-success { background:$uboxit-btn-success; border-color:$uboxit-btn-success; color: #fff; height: 29px; margin-top: -2px;}
.chip.selected{ background:$uboxit-primary-color;  color:$uboxit-white; } 
//Loading 
.loading-layout {  background:$uboxit-black-color; position:absolute; top:0; left:0; width:100%; height:100%; background:$uboxit-primary-color;}
.loading-icon { 
    background: url('assets/images/Uboxitlogo.png'); 
    background-repeat: no-repeat; 
    position: fixed;top:50%; left:50%; width: 152px; height: 72px; margin-top: -72px; margin-left: -100px;
    @include breakpoint(smart-phone){
        background-size: 100px 47px; margin-top: -47px; margin-left: -50px;
    }
}

//common
a{ color:$uboxit-primary-color;}
a.active, a:active, a:focus, a:hover { color:$uboxit-primary-color; text-decoration: underline; }


.container{
    @include breakpoint(smart-phone){
        padding: 0px;
    }
}
.header-menu { -webkit-flex-basis: 42px;  flex-grow: 0;  flex-shrink: 0;  flex-basis: 42px; }
.header-logo { -webkit-flex-basis: 42px;  flex-grow: 0;  flex-shrink: 0;  flex-basis: 79%; text-align: center;
    @include breakpoint(smart-phone){
        flex-basis: 43%;
        text-align: left;
        padding-left: 10px;
    }
}
.header-rightLogo{-webkit-flex-basis: 42px;  flex-grow: 0;  flex-shrink: 0;  flex-basis: 152px;  }

//Header End
//Footer Start 
.container.grid-lg.footer { background: $uboxit-footer-bg; border-radius: 25px 25px 0px 0px; padding: 20px 10px 10px 10px; color: $uboxit-white; margin-top: -50px; }
.uboxitFooter{ border-top:1px solid #f7f7f7; background: $uboxit-footer-bg; color: $uboxit-white;  }
.uboxitRouter{    min-height: 700px; margin-bottom:60px;  
     @include breakpoint(smart-phone){
        min-height: 450px;  
    } 
}
//Footer End

