
@import "assets/css/variables";


// *End Media Queries

html, body {  margin: 0; font-family: $uboxit-font; color:$uboxit-black-color; background:$uboxit-background-color}
body::-webkit-scrollbar{  width: 6px; height: 6px; } //scrollbar 
#uboxitwrapper{transition: margin-right .5s;
    @include breakpoint(smart-phone){
       margin-right: 0px !important;
       transition: margin-right .5s;
    }
}

//Button Start 
.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover{  color:$uboxit-white;  }
.btn.btn-primary{ background:$uboxit-primary-color; border-color:$uboxit-primary-color; border-radius: $uboxit-radius; 
    box-shadow: inset 0 1px 0 0 $uboxit-primary-color, 0 1px 2px 0 #b3b3b3;
}
.btn.btn-primary:focus, .btn.btn-primary:hover{ background:lighten($uboxit-primary-color, 10%); border-color:lighten($uboxit-primary-color, 10%)   }
.btn.btn-clear { color:$uboxit-primary-color; opacity: 1;}
.btn.btn-clear.uboxitLogo { color:$uboxit-white;}
.uboxitBoxactive { background:$uboxit-primary-color; }
.btn.btn-success { background:$uboxit-btn-success; border-color:$uboxit-btn-success; color: #fff; height: 29px; margin-top: -2px;}
.chip.selected{ background:$uboxit-primary-color;  color:$uboxit-white; } 
//Loading 
.loading-layout {  background:$uboxit-black-color; position:absolute; top:0; left:0; width:100%; height:100%; background:$uboxit-primary-color;}
.loading-icon { 
    background: url('assets/images/Uboxitlogo.png'); 
    background-repeat: no-repeat; 
    position: fixed;top:50%; left:50%; width: 152px; height: 72px; margin-top: -72px; margin-left: -100px;
    @include breakpoint(smart-phone){
        background-size: 100px 47px; margin-top: -47px; margin-left: -50px;
    }
}
//Menu

.uboxitMenu{ position: fixed;  width: 100%; xtop:55px; top:0px; box-shadow: 0 8px 6px -6px #ccc;z-index: 289; border-bottom:0px !important; }
.uboxitMenuBar{ background:$uboxit-background-color;}
.chckt-button{
    background: $uboxit-primary-color !important;
}
//common
.h-2x{ height: 20px;}
.modal.active .modal-container, .modal:target .modal-container{ border-radius: $uboxit-radius; }
.modal-container .modal-header { border-radius: $uboxit-radius $uboxit-radius 0px 0px; }
.modal-container img {border-radius: $uboxit-radius $uboxit-radius 0px 0px; }


a{ color:$uboxit-primary-color;}
a.active, a:active, a:focus, a:hover { color:$uboxit-primary-color; text-decoration: underline; }
.UboxitLayout{
    padding-top:20px;
}
.genLayout { border-radius:25px; height:200px; margin-left:10px; margin-right:10px; position:relative; top:-10px;
    @include breakpoint(smart-phone){
        height:150px;
    } 
}
.genLayout img { height: 200px; width: 100%;  object-fit: cover; border-radius:25px; 
    @include breakpoint(smart-phone){
        height:150px;
    } 
}
.genBannerCaption { position: absolute; color: $uboxit-white; position: absolute; text-align: left; left:20px; font-size: 2.8rem; 
            display: block; width: 100%;  height: 220px; line-height: 220px;
    @include breakpoint(smart-phone) {
        font-size: 1.8rem;
        line-height: 150px;
    } 
}
.gen-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background:url(assets/images/banner2.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50% 65%; 
    @include breakpoint(smart-phone){
      height: 150px;
      background-position:50% 10px;
     }
     margin-bottom: 30px;
  }
  
  
  .gen-layout > div{
        font-family: $uboxit-font;
        color: $uboxit-white;
        font-size: 2rem;
        text-align: center;
        xtext-shadow: 2px 2px 8px $uboxit-white;
        @include breakpoint(smart-phone){
          font-size: 0.9rem;
         }
  }
.container.grid-lg.genLayoutInner{
    padding: 0px 20px 0px 20px; margin-top: -20px;
}
.container{
    @include breakpoint(smart-phone){
        padding: 0px;
    }
}
.advert-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background:url("assets/images/ad1.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50% 65%; 
    @include breakpoint(smart-phone){
      height: 170px;
      background-position:50% 10px;
     }
  }
  
  
  .advert-layout > div{
        font-family: $uboxit-font;
        color: $uboxit-white;
        font-size: 2rem;
        text-align: center;
        xtext-shadow: 2px 2px 8px $uboxit-white;
        @include breakpoint(smart-phone){
          font-size: 0.9rem;
         }
  }

//Header End
//Footer Start 
.container.grid-lg.footer { background: $uboxit-footer-bg; padding: 20px 10px 10px 10px; color: $uboxit-white; }
.uboxitFooter{ border-top:1px solid #f7f7f7; background: $uboxit-footer-bg; color: $uboxit-white;  }
.uboxitRouter{    min-height: 700px; margin-bottom:60px;  
     @include breakpoint(smart-phone){
        min-height: 450px;  
    } 
}
//Footer End


.genLayoutM { border-radius:25px; height:200px; margin-left:10px; margin-right:10px; position:relative; top:5px;
    @include breakpoint(smart-phone){
        height:150px;
    } 
}
.genLayoutM img { height: 200px; width: 100%;  object-fit: cover; border-radius:25px; 
    @include breakpoint(smart-phone){
        height:150px;
    } 
}
.genBannerCaptionM { position: absolute; color: $uboxit-white; position: absolute; text-align: center;  font-size: 2.8rem; 
            display: block; width: 100%;  height: 220px; line-height: 220px;
    @include breakpoint(smart-phone) {
        font-size: 1.8rem;
        line-height: 150px;
    } 
}