/* You can add global styles to this file, and also import other style files */
/* Major Colors are noted Header - #ff675c and Gray - f7f7f7 */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {  margin: 0; font-family: 'Open Sans', sans-serif; color:#2a2a2a; background: #ededed}
   .uboxitLoading { position:fixed; left:50%; top:48%; background:#000; color:#000; }
   .uboxitwrapper { display: block; position: relative; }
   .uboxitHeader { position: fixed;  width: 100%; background: #ff675c ; height: 60px; z-index: 500 }
        .headerFixed{ box-shadow:0 2px 5px 0 rgba(0,0,0,.3);height: 60px;}
        .uboxitMenu{ position: fixed; background: #fff; width: 100%; top:60px; box-shadow:0 2px 5px 0 rgba(0,0,0,.3);z-index: 600 }
    .uboxitClear{ clear:both;}
  /*spectre override*/
  body::-webkit-scrollbar{
      width: 6px;
      height: 6px;
  }
  body::-webkit-scrollbar-thumb{
      background: #ccc;
     
      outline: 1px solid #333
  }
  body::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3)
  }
  .loading::after{
    
    animation: loading .5s infinite linear;
    border: .1rem solid #FF655A;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
  }

  .btn:focus{
    box-shadow:none;
  }
  .btn.btn-link{
      color:#fff;
  }

  .badge:not([data-badge])::after, .badge[data-badge]::after{
      color:#FF655A;
      background: #fff;
  }
  .btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover{
      color:#fff;
     
  }
  .btn.btn-primary{
    background:#FF655A;
    border-color:#FF655A;
  }
  .btn.btn-primary:focus, .btn.btn-primary:hover{
    background:#FFAC8B;
    border-color:#FFAC8B;
  }
  /*spectre override*/

  /*Animation override*/