<section class="shoppingLayout">
  <div class="container grid-lg">
      <div class="columns">
          <mat-accordion class="example-headers-align uboxit-expansion" >
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>My Cart</mat-panel-title>
                </mat-expansion-panel-header>
                  <div class="orderedItemLayout">
                    <app-ordered-items></app-ordered-items>
                  </div>
            
                <mat-action-row>
                    <button class="btn" (click)="linkToHomePage()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Continue Shopping</button>&nbsp;
                    <button class="btn btn-primary" (click)="nextStep()">Place Order</button>
                </mat-action-row>
              </mat-expansion-panel>
            
              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                <mat-expansion-panel-header>
                      <mat-panel-title>Login or SignUp</mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <app-personal></app-personal>
                </div>
                <mat-action-row>
                  <button class="btn" (click)="prevStep()">Previous</button>&nbsp;
                  <button class="btn btn-primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>
            
              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>Delivery Address</mat-panel-title>
           
                </mat-expansion-panel-header>
            
                <div><app-deliveryaddress></app-deliveryaddress></div>
               
            
                <mat-action-row>
                  <button class="btn btn-primary" (click)="prevStep()">Previous</button>&nbsp;
                  <button  class="btn btn-primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Payment Options</mat-panel-title>
             
                  </mat-expansion-panel-header>
              
                 
                 
              
                  <mat-action-row>
                    <button class="btn btn-primary" (click)="prevStep()">Previous</button>&nbsp;
                    <button  class="btn btn-primary" (click)="nextStep()">End</button>
                  </mat-action-row>
                </mat-expansion-panel>
            
            </mat-accordion>
         
      </div>
</div>

</section>
