<section class="shoppingLayout">
  <div class="container grid-lg">
  <div class="columns">
      <div class="column col-xs-6">
        <!--Customer Information -->
        <h6>Customer Information</h6>
        <div style="border: 1px solid #ccc; height:300px">

        </div>
        <!--Customer Information -->
      </div>
      <div class="column col-xs-6">
        <!-- Shopping Cart -->
         <h6>Order Summary</h6>
          <div style="border: 1px solid #ccc; height:300px">

        </div>
        <!-- Shopping Carf -->
      </div>
     
  </div>
</div>
<div class="mt-2"></div>
</section>
