.shoppingLayout{
padding-top: 60px;
}
.uboxit-expansion{
    width: 100%;
    margin: 10px 20px;
}
.mat-expansion-panel-header{
    border-bottom: 1px solid #ccc;
    font-family:  'Open Sans', sans-serif;
    background-color:#ff675c;
    
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']){
    background-color:#ff968c;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background:#ff675c;
}
.mat-expansion-panel-body{
    padding: 0px 0px 0px 0px !important;
}
md-panel-title{
    color: #fff;
    font-size: bold;
}
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.orderedItemLayout{
    margin:0px;
    padding-top:10px;
}
@media only screen and (max-width: 480px) {
    .uboxit-expansion{
        width: 100%;
        margin: 10px 10px;
    }
    .orderedItemLayout{
        margin: 0 -24px -16px;
    }
  
}