<section class="shoppingLayout">
  <div class="container grid-lg">
  <div class="columns">

      <div class="column col-4">
        <!-- Shopping Cart -->
         <div class="shoppingCart">
              <h6>Order Summary</h6>
              <!-- Delivery Container -->
              <div class="uboxitDelivery">
                <app-deliver-time></app-deliver-time>
              </div>
              <!-- Delivery Container -->
              <div class="uboxitOrderedItems">
                <app-ordered-items></app-ordered-items>
              </div>
        </div>
        <!-- Shopping Carf -->
      </div>
      <div class="column col-8">
          <!--Customer Information -->

          <div class="shoppingLogin">
              <h6>Customer Information</h6>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>

                      Log In or Sign Up
                    </mat-panel-title>
                    <mat-panel-description>
                     &nbsp;
                      <mat-icon><i class="material-icons">keyboard_arrow_down</i></mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                <mat-form-field>

                </mat-form-field>

                <mat-form-field>

                </mat-form-field>

                <mat-action-row>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Delivery to
                  </mat-panel-title>
                  <mat-panel-description>
                    &nbsp;
                    <mat-icon><i class="material-icons">keyboard_arrow_down</i></mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput placeholder="Country">
                </mat-form-field>

                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(1)" hideToggle="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Payment Method
                    </mat-panel-title>
                    <mat-panel-description>
                      &nbsp;
                      <mat-icon><i class="material-icons">keyboard_arrow_down</i></mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <input matInput placeholder="Country">
                  </mat-form-field>

                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                  </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>

          </div>
          <!--Customer Information -->
        </div>
  </div>
</div>
<div class="mt-2"></div>
</section>
