
<div class="banner-outer">
      <div class="banner-inner">
                  <ngx-carousel
                  [inputs]="carouselOne"
                  (carouselLoad)="myfunc($event)">
                    <ngx-item NgxCarouselItem>
                          <img src="https://res.cloudinary.com/your-delicacy-bv/image/upload/Banner1" />
                    </ngx-item>
                    <ngx-item NgxCarouselItem>
                          <img src="https://res.cloudinary.com/your-delicacy-bv/image/upload/Banner2" />
                    </ngx-item>
                    <ngx-item NgxCarouselItem>
                          <img src="https://res.cloudinary.com/your-delicacy-bv/image/upload/Banner3" />
                    </ngx-item>
                    <ngx-item NgxCarouselItem>
                                  <img src="https://res.cloudinary.com/your-delicacy-bv/image/upload/Banner4" />
                  </ngx-item>
                    <button NgxCarouselPrev class='leftRs'>&lt;</button>
                    <button NgxCarouselNext class='rightRs'>&gt;</button>

                  </ngx-carousel>
      </div>
</div>
