<section>
   
   <div class="container grid-lg" style="position:relative; margin-top:51px;">
    <div class="columns">
        <img src="assets/images/ad1.jpg" class="img-fit-cover" height="300"  width="100%" alt="...">
    </div>
    <div class="toast" style="position:absolute; right:10%; top:50%; height:100px;  width:300px;">
        <h4>New User Offer</h4>
        <span>New users get upto 30% off + Free delivery & &euro;2 cashback post order</span>
    </div>
    <div style="position:absolute; left:10%; top:40%; height:100px;  width:350px; color:#fff;" class="hide-sm">
        First time in Amstelveen!
        <h3>Make your own combo</h3>
    </div>
  </div>       
   
</section>