@import "../../../../assets/css/variables";
//https://github.com/sheikalthaf/ngx-carousel/blob/master/demo/src/app/app.component.css
.banner {

  
}
.banner-outer{
    height:400px; width:100%; display:flex; justify-content:center; overflow:hidden;
    @include breakpoint(ExtraSmallMobile){
       height:auto;  margin-top:0px;
    }
    @include breakpoint(ExtraLargeMobile){
        height: 240px;  margin-top:0px;
     }
    @include breakpoint(MediumDevice){
        height: 364px;  margin-top:0px;
     }
     @include breakpoint(LargeDevice){
        height: 390px;  margin-top:0px;
     }
     @include breakpoint(ExtraDevice){
        height:400px; margin:20px 0px 20px 0px;
     }
}
.banner-inner{ 
    width:1140px; 
}
.banner img {
    max-width: 100%;
    max-height: 100%;
}



.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
    display: none !important;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
    display: none !important;
}

.uboxit-m-avert-cont { xpadding: 40px; }
.uboxit-m-container-1 { padding: 40px 40px 0px 40px}
.uboxit-m-container-2 { padding: 10px 0px 40px 40px}
.uboxit-m-advert-title { font-family: $uboxit-font; font-size: 15px; color:#fff; margin-bottom: 10px; }
.uboxit-m-advert-ban1 { position: relative; width: 100%; padding-top: 55.5%;}
.uboxit-m-ban-inner { position:  absolute;  top: 0; left: 0;bottom: 0; right: 0; text-align: center; font-size: 20px;
   color: white;

}
.uboxit-scroll{
    position: relative; width: 100%; padding-top: 55.5%;
}
.uboxit-scroll > div{
    position:  absolute;  top: 20px; left: 0;bottom: 0; right: 0; text-align: center; font-size: 15px;
    color: white;
   
}
.uboxit-scroll > div > i {
    font-size:50px; color: #fff;
}
.ubooxit-scroll-txt{background: #000; height: 30px; position: absolute; bottom: 0px;}
.tile{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}