<div class="gen-layout contact">
        <div class="animated slideInDown">Contact Us</div>
      
</div>

<section class="contentSec">
      <div class="container grid-lg genLayoutInner"> 
      <div class="column">
      <p class="getinTouch">GET IN TOUCH</p>
      <h2>We would be happy to We would be happy to </h2>
      <p>If you have any questions concerning our services or want to schedule an appointment with one of our consultants - please contact us using the details below.</p>
      
      <div class="addressSpec">
          <ul >
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>Augustinuspark 14, 1185CN Amstelveen</li>
              <li><i class="fa fa-calendar-times-o" aria-hidden="true"></i>Mon - Fri 10:00 AM to 02:00 PM, 05:00 PM to 10:00 PM </li>
              <li><i class="fa fa-calendar-times-o" aria-hidden="true"></i>Sat - Sun 11 AM to 02:00 PM, 05:00 PM to 10:00 PM</li>
              <li><a href="tel:+31626566374"><i class="fa fa-phone" aria-hidden="true"></i>+31 (0)626566374</a></li>
              <li><a href="mailto:contactus@uboxit.nl"><i class="fa fa-envelope-o" aria-hidden="true"></i>contactus@uboxit.nl</a></li>
          </ul>
      </div>
        <div class="socialMedia">
              <ul>
                  <li><a href="https://www.facebook.com/uboxit.netherlands/" target="_blank"><button class="btn btn-primary btn-action circle"><i class="fa fa-facebook" aria-hidden="true"></i></button></a></li>
                  <li><a href="https://twitter.com/uboxit_nl" target="_blank"><button class="btn btn-primary btn-action circle"><i class="fa fa-twitter" aria-hidden="true"></i></button></a></li>
                  <li><a href="https://www.instagram.com/uboxit.nl" target="_blank"><button class="btn btn-primary btn-action circle"><i class="fa fa-instagram" aria-hidden="true"></i></button></a></li>
                 
              </ul>
        </div>
      </div> <!-- //.column -->
      </div> <!-- //.container grid-lg -->
      <div style="height:20px;"></div>
</section>
