.contactBanner img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.bannerCaption{
    xfont-family: 'Satisfy', cursive;
    position: absolute;
    color: #fff;
    position: absolute;
    text-align: left;
    font-size: 2.8rem;
    display: block;
    width: 100%;
    height: 220px;
    line-height: 220px;
    
  }
  .contentSec{
    padding-top:20px;
  }
  .getinTouch{
      color: #ff675c ;
  }
 .addressSpec ul li{
     list-style: none;
     padding-bottom: 10px;
 }
 .addressSpec i{
    padding-right: 10px;
    color: #ff675c;
 }
 .socialMedia ul li{
        list-style: none;
        float: left;
        padding-right: 10px;
 }

 @media (max-width: 800px) {
    .h1, h1{
        font-size: 1rem;
    }
}