
@import "../../../../assets/css/variables";

.cartLayout { padding: 0px; }
.cartHeader { height:70px; background: #454d5d; padding:0 24px; color:#fff; margin-bottom: 10px; font-family: $uboxit-font; line-height: 70px; font-size: 15px; cursor: pointer;}
.cardinner { padding:0 24px 16px; border-bottom:1px solid #ccc; margin-bottom: 10px;}
.card-txt-title {  height:25px; padding:5px 10px;  overflow: hidden; text-overflow: ellipsis;  white-space: nowrap}
.card-txt-item { height:25px; padding:5px 10px; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap}
.card-priceDetails { padding:0 24px 16px; font-weight: bold; }
.card-flex { display: flex; }
.card-flex .img { background: #ccc; width: 40%; height: 100px; overflow: hidden; }
.img img{ object-fit:cover; max-height:100%;  border-radius: 0;}
.card-flex .txt{ width: 60%; padding-left:10px;}
.cart-divider { xmargin:5px 0px; // border-top:1px solid #ccc;
}
.card-flex-rowDir { display: flex; flex-direction: row-reverse; padding: 0 29px 10px; }
.card-price { width:100px; text-align: right; font-weight: bold; font-family: $uboxit-font;}
.card-promo{ border:1px solid #ccc; border-radius:5px; padding:5px; margin: 20px; padding-left: 15px;}
.card-input{
    border:0px; padding:0px; width:200px;display:inline; background:none; height:30px; font-size: 13px; font-family: $uboxit-font;
}
.card-counter-layout{height:50px; padding-top:5px; padding-bottom:5px; padding-left:10px }
.card-id-price{ text-align:right; line-height:30px; font-weight: bold; font-family: $uboxit-font; }
.card-counter{}
.card-shop-btn{ margin: 20px;}
.card-shop-btn > button { width:100%;}
.veg{ width: 20px; vertical-align: bottom;  margin-right: 5px;}
.disabledCart {
  pointer-events: none;
  opacity: 0.4;
}

.editCart {
  cursor: pointer;
  float: right;
  padding-top: 25px;
}

.no-delivery-message {
  text-align: center;
  padding-bottom: 10px;
}
