<div class="card-dummyx" *ngIf="cart && cart.combos">
        <div class="cartLayout">
            <div class="cartHeader">Your Cart</div>
            <div class="cardinner" *ngFor="let order of cart.combos">
            <div *ngIf="order.count > 0">
                <div><button class="btn btn-clear float-right" (click)="removeOrder(order.id)"></button></div>

                <div class="card-flex">
                    <div class="img"><img src="{{order.imageUrls[0]}}"/></div>
                    <div class="txt">
                        <div class="card-txt-title"><img src="../../assets/images/veg.png" class="veg"/>{{order.name}}</div>
                        <div class="card-txt-item">({{order.itemNames}})</div>
                        <div class="card-counter-layout">
                            <div class="card-counter">
                                <app-add-to-cart-counter [showAddToCartWhenZero]="false" [counterValue]="order.count"
                                (updatedCount)="updateOrder(order.id, $event)"></app-add-to-cart-counter>
                            </div>
                            <div class="card-id-price">&euro;  {{order.price.amount | number:'1.2-2'}}</div>
                        </div>
                    </div>
                </div>
            </div> <!--// ngIF -->
            </div> <!--// ngFor-->

            <div class="cart-divider"></div>
            <div class="card-priceDetails">Price Details</div>
            <div class="card-flex-rowDir">
                <div class="card-price">&euro; {{cart.price.amount | number:'1.2-2'}}</div>
                <div>Total:</div>
            </div>
            <div class="card-flex-rowDir">
                    <div class="card-price">&euro; {{cart.vatPrice.amount | number:'1.2-2'}}</div>
                    <div>Vat in %:</div>
            </div>
            <div class="card-flex-rowDir">
                    <div *ngIf="cart.discountedTotalPrice" class="card-price">&euro;
                      <span style="text-decoration: line-through">{{cart.totalPrice.amount | number:'1.2-2'}}</span>
                      <span>{{cart.discountedTotalPrice.amount | number:'1.2-2'}}</span>
                    </div>
                    <div *ngIf="!cart.discountedTotalPrice" class="card-price">&euro; {{cart.totalPrice.amount | number:'1.2-2'}}</div>
                    <div>Amount Payable:</div>
            </div>
            <div class="cart-divider"></div>
            <div *ngIf="cart.discountedTotalPrice" class="card-promo">
              Enjoy Ur Box with same quality in lower price !!
            </div>
            <div *ngIf="!cart.discountedTotalPrice" class="card-promo">
                <input type="text" placeholder="Enter Promo Code" class="card-input" [(ngModel)]="promoCode"/>
                <span style="float:right">
                    <button class="btn btn-primary" (click)="applyPromoCode()">Apply</button>
                </span>
            </div>
            <span *ngIf="cart.notification && cart.notification.name === 'PROMO_CODE'">{{cart.notification.description}}</span>
            <div class="card-shop-btn" *ngIf="showContinueShopping">
                <button class="btn" (click)="linkToHomePage()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Continue Shopping</button>
            </div>
            <div class="card-shop-btn" *ngIf="showCheckout">
                    <button class="btn btn-primary" (click)="proceedToCheckOut()"><i class="fa fa-angle-left" aria-hidden="true"></i>Proceed To Checkout</button>
                </div>
            <div>&nbsp;</div>
        </div>
        </div>

<!-- New Style -->

