<div *ngIf="cart" class="orderedItemsLayout">
  <div *ngFor="let order of cart.combos">
    <div *ngIf="order.count > 0">
      <div style="padding-right:10px">
        <button class="btn btn-clear float-right" (click)="removeOrder(order.id)"></button>
      </div>
      <div class="clearfix"></div>
      <div class="columns">

        <div class="column col-xs-3 img"><img src="{{order.imageUrls[0]}}" class="img-responsive"/></div>
        <div class="column col-xs-3">{{order.name}} <br> ({{order.itemNames}})</div>
        <div class="column col-xs-3 count">
          <app-add-to-cart-counter [showAddToCartWhenZero]="false" [counterValue]="order.count"
                                   (updatedCount)="updateOrder(order.id, $event)"></app-add-to-cart-counter>
        </div>
        <div class="column col-xs-3 text-left priceList-top">&euro; {{order.price.amount | number:'1.2-2'}}</div>

      </div>
      <div style="border-bottom:1px solid #ccc; margin-bottom:10px;margin-top:10px"></div>
    </div>
  </div>
  <div class="columns">

    <div class="column col-xs-3 text-bold"></div>
    <div class="column col-xs-3 text-bold">PRICE DETAILS</div>
    <div class="column col-xs-3 count text-bold">Total</div>
    <div class="column col-xs-3 text-left text-bold">&euro; {{cart.price.amount | number:'1.2-2'}}</div>

  </div>  <!-- Total Area -->

  <div class="columns">

    <div class="column col-xs-3 text-bold"></div>
    <div class="column col-xs-3 text-bold"></div>
    <div class="column col-xs-3 count ">Vat %</div>
    <div class="column col-xs-3 text-left">&euro; {{cart.vatPrice.amount | number:'1.2-2'}}</div>

  </div>  <!-- Vat Area -->

  <div class="columns">

    <div class="column col-xs-3 text-bold"></div>
    <div class="column col-xs-3 text-bold"></div>
    <div class="column col-xs-3 count text-bold">Amount Payable</div>
    <div class="column col-xs-3 text-left text-bold">&euro; {{cart.totalPrice.amount | number:'1.2-2'}}</div>

  </div>  <!-- Vat Area -->

  <div></div>
</div>
