.panel{
    padding:10px;
    
    xbox-shadow:0px 0px 10px 0px #ccc;
}
.countInput{
    border: 1px solid #ccc;
    width:40px;
    font-size: 12px;
    border-radius: 5px;
    display: inline;
    padding: 5px;

}
.priceTag{
    position: relative;
    font-size: 14px;
    right: -25px;
    font-weight: 600;
}
.columns img{
    
    border-radius: 5px;
    xbox-shadow: 0px 3px 10px rgba(0,0,0,.4);
    border: 0px;
}
.column.col-xs-3.img img{
        height: 80px;
}

.priceList-top{
  
    padding-top:10px;
}
@media only screen and (max-width: 480px){
    .column.col-xs-3.text-left {
    width: 15%;
 
}
.column.col-xs-3.count{
    width: 25%;
}
.column.col-xs-3.img img{
    height: auto;
    margin-left: 10px;
}
}