/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.card{
	
	xheight: 430px;
	margin-right: 1%;
}
.card-footer{
	border-top:1px solid #f7f7f7;
}
.card-body{
	padding-bottom: 10px;
}
.line::before{
	position:absolute;
	right:calc(100% + 25px);
}
.line::after{
	    position: absolute;
    left: calc(100% + 25px);
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
/*.col:first-child { margin-left: 0; }*/
.col { margin-left: 0; }
/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 33.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}