
<div class="container grid-lg"> 
    <app-error-template></app-error-template>
  <div class="column">
    
   <div class="text-center offerTitle">
          <div>"South Indian"</div>
          <p>Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</p>
   </div>
   
   <div class="paddingBlock">
      <div class="equalHMVWrap eqWrap">
            <div class="equalHMV eq" *ngFor="let offer of offers;">
             <div class="card animated fadeInDown">
                  <div class="card-image c-hand" (click)="onSelect(offer); active = true"><img src="{{offer.image}}" onError="this.src='assets/images/no_image.png'" class="img-responsive" [class.selected]="offer === selectedOffer"></div>
                  <div class="card-header" >
                          <div class="float-left ">
                          <div class="card-title h5">{{offer.title}}</div>
                          <div class="card-subtitle text-gray"> </div>
                          </div>
                          <div class="float-right text-bold">&euro; 11</div>
                  </div>
                  <div class="card-body"><span class="chip">{{offer.types}}</span></div>
                  <div class="card-footer">
                  <div class="float-left text-bold"><i class="material-icons">favorite_border</i></div>
                    <div class="float-right">
                          <!-- <button class="btn btn-primary" (click)="open();">Add to Cart</button> -->
                        <app-add-to-cart-counter></app-add-to-cart-counter>
                    </div>
                  </div> 
            </div> <!-- // Card -->

            </div> <!-- Repeater End --> 
                <!-- Model Window Start -->
         <div [ngClass]="{'modal':true, 'active':active}" *ngIf="selectedOffer" >
            <div class="modal-overlay" modelCloseOnOverlay (modelClose)="modelclose($event)"></div>
            <div class="modal-container">
                <div class="relative">
                  <img src="{{selectedOffer.image}}" onError="this.src='assets/images/no_image.png'"  class="img-responsive">
                  <span class="absolute" style="height:40px; width:166px; bottom:60px; border:1px solid #000;">
                        <img src="{{selectedOffer.image}}" onError="this.src='assets/images/no_image.png'"  width="166" height="105"/>
                       
                  </span>
                  <span class="absolute" style="height:40px; width:166px; bottom:60px; left:167px; border:1px solid #000;">
                      <img src="{{selectedOffer.image}}" onError="this.src='assets/images/no_image.png'"  width="166" height="105"/>
                     
                </span>
                <span class="absolute" style="height:40px; width:166px; bottom:60px; left:334px; border:1px solid #000;">
                    <img src="{{selectedOffer.image}}" onError="this.src='assets/images/no_image.png'"  width="166" height="105"/>
                   
              </span>
                </div>
                <div class="modal-header">
                <button class="btn btn-clear float-right" (click)="close();"></button>
                <div class="modal-title h5">{{selectedOffer.title}}</div>
                      <div>
                            <div class="float-left"><span class="chip">{{selectedOffer.types}}</span></div> 
                            <div class="float-right"><i class="material-icons">favorite_border</i></div>
                            <div class="clearfix"></div>
                      </div>
                      <div class="divider"></div>
                      <div>
                            <div class="float-left text-bold">&euro; 11</div> 
                            <div class="float-right"><button class="btn btn-primary" (click)="open();">Add to Cart</button></div>
                            <div class="clearfix"></div>
                      </div>
                </div>
                <div class="divider"></div>
                <div class="modal-body" >
                  <div class="content" >
                 <div>
                      <ul class="tab tab-block">
                      <li class="tab-item">
                         <a [ngClass]="{'active':activeyes}" (click)="opendetails();">Details</a>
                      </li>
                      <li class="tab-item" >
                        <a  [ngClass]="{'active': !activeyes}" (click)="openingredients();">Ingredients</a>
                      </li>
                      </ul>
                  </div>
                    <div class="detailContainer">
                      <div class="text-justify details" [ngClass]="{'nonactive animated zoomIn':isActivedetails}">
                      Here's an incredibly nutritious mix that you can munch on without any regrets. This Signature pack comes with a mix of corn, wheat flakes, oats, crunchy almonds, sunflower seeds, blueberries, raisins and exotic goji berries, in the right ratio to complement a good breakfast.
                      </div>
                      <div class="text-justify ingredients" [ngClass]="{'nonactive animated zoomIn':isActiveingredients}">
                      Tomato, Onion, Paneer, Sandwich Bread, Cheese slice
                      </div>
                    </div>
                  
                 <!-- content here -->
                </div>
            </div>
           <div class="modal-footer">
    
    </div>
      </div>
    </div> 
      <!-- // Model Window -->
        <!-- Model Window End -->

      </div> <!-- // equalHMVWrap eqWrap -->
  </div> <!--//paddingBlock-->

  <!-- Second Item -->







</div> <!-- // Column -->
</div>