<div class="container grid-xl"> 
  <div class="section group">
    <div class="col span_1_of_4" *ngFor="let offer of offers">
    <div class="card">
    <div class="card-image">
      <img src="{{offer.image}}" class="img-responsive">
    </div>
    <div class="card-header">
      <div class="card-title h5">{{offer.title}}</div>
      <div class="card-subtitle text-gray">{{offer.types}}</div>
    </div>
    <div class="card-body">
      Empower every person and every organization on the planet to achieve more.
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Do</button>
    </div>
  </div>
    </div>
    
  </div>
  </div>