<div class="container grid-lg"> 
  <div class="column">
    
   <div class="text-center offerTitle">
         <h2><span class="line">"South Indian"</span></h2>
         <p>Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</p>
   </div>

   <div class="paddingBlock">
      <div class="equalHMVWrap eqWrap">
            <div class="equalHMV eq" *ngFor="let offer of offers;" >
             <div class="card animated fadeInDown" (click)="onSelect(offer); active = true" >
                  <div class="card-image"><img src="{{offer.image}}" class="img-responsive" [class.selected]="offer === selectedOffer"></div>
                  <div class="card-header">
                          <div class="float-left ">
                          <div class="card-title h5">{{offer.title}}</div>
                          <div class="card-subtitle text-gray"> </div>
                          </div>
                          <div class="float-right text-bold">&euro; 11</div>
                  </div>
                  <div class="card-body"><span class="chip">{{offer.types}}</span></div>
                  <div class="card-footer">
                  <div class="float-left text-bold"><i class="material-icons">favorite_border</i></div>
                    <div class="float-right"><button class="btn btn-primary" (click)="open();">Add to Cart</button></div>
                  </div> 
            </div> <!-- // Card -->

            </div> <!-- Repeater End --> 
                <!-- Model Window Start -->
         <div [ngClass]="{'modal':true, 'active':active}" *ngIf="selectedOffer" >
            <div class="modal-overlay"></div>
            <div class="modal-container">
                <div><img src="{{selectedOffer.image}}" class="img-responsive" ></div>
                <div class="modal-header" style="background:#fff; margin-top:-100px;">
                <button class="btn btn-clear float-right" (click)="close();"></button>
                <div class="modal-title h5">{{selectedOffer.title}}</div>
                  <div class="text-justify">Corn, Oats, Wheat, Almonds, Sunflower Seeds, Blueberries, Raisins, Goji berries</div>
                   <div><span class="chip">{{selectedOffer.types}}</span></div>
                </div>
                <div class="modal-body" >
                  <div class="content">
                 <div>
                      <ul class="tab tab-block">
                      <li class="tab-item active">
                        <a href="#">Details</a>
                      </li>
                      <li class="tab-item">
                        <a href="#">ingredients</a>
                      </li>
                      </ul>
                  </div>
                  <div class="text-justify">
                    Here's an incredibly nutritious mix that you can munch on without any regrets. This Signature pack comes with a mix of corn, wheat flakes, oats, crunchy almonds, sunflower seeds, blueberries, raisins and exotic goji berries, in the right ratio to complement a good breakfast. It's a no-fuss muesli mix that's full of fiber, protein and healthy fats! Enjoy with hot or cold milk anytime hunger strikes!
                  </div>
                  
            <!-- content here -->
            </div>
            </div>
            <div class="modal-footer">
          ...
        </div>
      </div>
    </div> 
      <!-- // Model Window -->
        <!-- Model Window End -->

      </div> <!-- // equalHMVWrap eqWrap -->
  </div> <!--//paddingBlock-->

  
</div> <!-- // Column -->
</div>