@import "../../../../assets/css/variables";



.socialMedia ul li{
    list-style: none;
    float: left;
    padding-right: 10px;
}
.defaultLink ul li{
    list-style: none;
    
}
.defaultLink ul li a{
   color: $uboxit-primary-color;
}
.defaultLink ul li a span{
    padding-left: 10px;
 }