
<div class="container grid-lg footer" *ngIf="!showMobile">
  <div class="column">
        
        <div class="paddingBlock">
            <div class="equalHMVWrap eqWrap">
                <div class="equalHMV eq">
                   <h5>Company</h5>
                   <div class="defaultLink">
                       <ul>
                           <li routerLinkActive="active"> <a href="/home" [routerLink]="['/home']" (click)="setTitle( 'UBoxIT - Food delivery | Order food online in The Netherlands, Amsterdam, Amstelveen, Schiphol' )" ><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
                           <li routerLinkActive="active"> <a href="/about" [routerLink]="['/about']" (click)="setTitle( 'Good food is good Mood!! We believe in providing tradition, aromatic food at your desk in innovative design of boxes.' )"><i class="fa fa-address-card-o" aria-hidden="true"></i><span>About</span></a></li>
                           <li routerLinkActive="active"> <a href="/contact"[routerLink]="['/contact']" (click)="setTitle( 'Event and Party Order, Contact us to get a better deal for events and party orders' )"><i class="fa fa-question-circle-o" aria-hidden="true"></i><span>Contact</span></a></li>
                       </ul>
                   </div>
                </div>
                <div class="equalHMV eq">
                    <h5>HELP &amp; CONTACT</h5>
                    <div class="defaultLink">
                        <ul>
                            <li><a href="mailto:contactus@uboxit.nl"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>contactus@uboxit.nl</span></a></li>
                            <li><a href="tel:+31626566374"><i class="fa fa-phone" aria-hidden="true"></i><span>+31 (0)626566374</span></a></li>
                        </ul>
                    </div>
                </div>
              
            </div>
        </div> <!-- .paddingBlock -->
        <div class="clearfix"></div>
        <div>
            <div class="float-left">
                <span routerLinkActive="active"><a href="/terms"  [routerLink]="['/terms']" (click)="setTitle( 'UBoxIT - Terms and Conditions' )" >Terms </a>&nbsp; | &nbsp;</span>
                <span routerLinkActive="active"><a href="/Privacy" [routerLink]="['/privacy']" (click)="setTitle( 'UBoxIT - Privacy Policies' )" >Privacy</a></span>
            </div>
            <div class="float-right socialMedia">
                   <div>
                        <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=NzzcEzrcjUTVpxzdhQmlfYeXXuggDVRthlaVT81N5W4rpDLT7UClup8atoSK"></script></span>
                   </div>
                    <ul>
                            <li><a href="https://www.facebook.com/uboxit.nl/" target="_blank"><button class="btn btn-primary btn-action circle"><i class="fa fa-facebook" aria-hidden="true"></i></button></a></li>
                            <li><a href="https://twitter.com/uboxit_nl"  target="_blank"><button class="btn btn-primary btn-action circle"><i class="fa fa-twitter" aria-hidden="true"></i></button></a></li>
                            <li><button class="btn btn-primary btn-action circle"><i class="fa fa-instagram" aria-hidden="true"></i></button></li>
                            
                        </ul>
            </div>
        </div>
        <div class="clearfix"></div>
       <div class="pt-2">&nbsp;</div>
  </div>
</div>
